<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{title}}</title>
</head>

<body>

  <h2>책 이름: {{book.title}}</h2>
  <div>등록자: {{book.author}}</div>
  <div>가격: {{book.price}}원</div>
  <strong id="time" data-start="{{book.createdAt}}"></strong>
  <!-- <img id="good-img" src="/img/{{good.img}}"> -->

  <script>
    function one() {
      const request = document.getElementById('register_book-form');
      request.setAttribute('action', '/book');
      request.setAttribute('method', 'POST');
    }
  </script>
</body>

</html>