<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>책 등록</title>
</head>

<body>
  <div class="register_book">
    <form action="/good" id="good-form" method="post" enctype="multipart/form-data">
      <div class="input-group">
        <label for="book-name">책 이름</label>
        <input type="text" id="book-name" name="name" required autofocus>
      </div>
      <!-- <div class="input-group">
        <label for="book-photo">상품 사진</label>
        <input type="file" id="book-photo" name="img" required>
      </div> -->
      <div class="input-group">
        <label for="book-price">가격</label>
        <input type="number" id="book-price" name="price" required>
      </div>
      <button id="join-btn" class="btn" type="submit">상품 등록</button>
    </form>
  </div>
</body>

</html>