<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">

    <!-- <title>구매 디테일</title> -->
    <title>{{title}}</title>
</head>

<body>
    <div class="flex w-100">
        <!-- 상단 바 -->
        {% include "topNavbar2.html" %}

        <!-- 컨텐츠 -->
        <main class="saleDetail border container-sm overflow-hidden mt-0 mb-0 min-vh-100 pt-3 pb-5">
            <!-- 검색, 메뉴이동 기능 -->
            {% include "searchBox.html" %}

            <div class="w-75 ms-auto me-auto">
                <!-- 제목 -->
                <div class="w-100 pb-2 mb-4 border-bottom">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <h1 class="h2 text-decoration-none fw-bold" id="getPostingTitle">{{book.postmessage}}</h1>
                        <div><p class="">조회수 : {{book.hits}}</p></div>
                    </div>
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center mb-2">
                            <div class="me-2 mt-2"><p class="fw-bold">{{book.usernick}}</p></div>
                            <div>
                                {% if this_book_location %}
                                <p><img src="/img/marker.png" width="20px">{{this_book_location}}</p>
                                {% else %}
                                <p><a><img src="/img/marker.png" width="20px"></a>미등록</p>
                                {% endif %}
                            </div>
                        </div>
                        <a class="text-decoration-none text-dark text-end" id="getPostingDate"></a>
                        <input id="postingTime" type="hidden" value="{{createdAt}}">
                    </div>
                </div>
                <!-- 책 정보 -->
                <div class="wrapBookInfo d-lg-flex  ">
                    <div class="bookInfo w-100 me-0 ms-sm-5 align-content-between">
                        <div class="d-flex mb-3 align-items-center w-100 justify-content-between">
                            <div class="saleCheck d-flex border-0 p-2 me-2 align-items-center"
                                style="border-radius: 10px">
                                {% if book.sold == 1 %}
                                    <a class="h5 mb-0 text-decoration-none fw-bold">구매완료</a>
                                {% else %}
                                    <a class="h5 mb-0 text-decoration-none fw-bold">구매</a>
                                {% endif %}
                                <div class="">
                                    <form id="book_like-form">
                                        <div class="saleCheck border-0 p-2 d-flex" style="border-radius: 10px">
                                            <input type="hidden" name="createdat" value="{{book.createdAt}}">
                                            <!-- OwnerId -->
                                            <input type="hidden" name="user" value="{{user}}">
                                            <!-- BookId -->
                                            <input type="hidden" name="bookId" value="{{bookId}}">
                                            <input type="hidden" name="postmessage" value="{{book.postmessage}}">
                                            <input type="hidden" name="title" value="{{book.title}}">
                                            <input type="hidden" name="price" value="{{book.price}}">
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!-- 수정/삭제 -->
                            <div>
                                <form id="buy_item-ED-form-{{book.id}}">
                                    <input type="hidden" id="delete_it-{{book.id}}" name="this_item_id"
                                    value="{{book.id}}">
                                    <input type="hidden" id="delete_it-{{book.id}}" name="this_item_OwnerId"
                                        value="{{book.OwnerId}}">
                                    <input type="hidden" id="delete_it-{{book.id}}" name="this_item_createdAt"
                                        value="{{book.createdAt}}">
                                    <div class="dropdown">
                                        <a class="btn kebobMenu" href="#" data-bs-toggle="dropdown" aria-expanded="true"><img src="/img/kebob.png" alt="dropdownMenu" width="15px"></a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdown1">
                                            <li><button id="item-edit-btn-{{book.id}}" class="dropdown-item"
                                                    role="menuitem" tabindex="-1" type="submit" class="btn"
                                                    onclick="buy_item_edit('{{book.id}}')">수정</button></li>
                                            <li><button id="item-delete-btn-{{book.id}}" class="dropdown-item"
                                                    role="menuitem" tabindex="-1" type="submit" class="btn"
                                                    onclick="buy_item_delete('{{book.id}}')">삭제</button></li>
                                        </ul>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="bookTitle d-flex align-items-center mt-2 mb-2">
                            <h4 class="h4 fw-bold w-50">책 제목</h4>
                            <a class="text-body text-decoration-none" id="getBookTitle">{{book.title}}</a>
                        </div>
                        <div class="bookTitle d-flex align-items-center mt-2 mb-2">
                            <h4 class="h4 fw-bold w-50">희망가격</h4>
                            <a class="text-body text-decoration-none" id="getBookPrice">{{book.price}}원</a>
                        </div>
                        <div class="auther d-flex align-items-center mt-2 mb-2">
                            <h4 class="h4 fw-bold w-50">저자</h4>
                            <a class="text-body text-decoration-none" id="getAuther">{{book.author}}</a>
                        </div>
                        <div class="publisher d-flex align-items-center mt-2 mb-2">
                            <h4 class="h4 fw-bold w-50">출판사</h4>
                            <a class="text-body text-decoration-none" id="getPublisher">{{book.publisher}}</a>
                        </div>
                        <div class="category d-flex align-items-center mt-2 mb-2">
                            <h4 class="h4 fw-bold w-50">카테고리</h4>
                            <a class="text-body text-decoration-none" id="getCategory">{{book.category}}</a>
                        </div>
                        <div class="category d-flex align-items-center mt-2 mb-2">
                            <h4 class="h4 fw-bold w-50">거래방법</h4>
                            <a class="text-body text-decoration-none" id="getAppearanceInfo">{{book.tradingmethod}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 게시물 내용 -->
            <div class="mt-3 border-top w-75 ms-auto me-auto mb-5 pt-4">
                <div class="mt-3"><a id="getPostingContents">{{book.tags}}</a></div>
                <div class="mt-3"><a id="getPostingContents" style="white-space: pre-line;">{{book.about}}</a></div>
            </div>

            <!-- 댓글 달기 -->
            {% if users and users.id %}
            <form id="comment-form" class="mt-5 w-75 ms-auto me-auto">
                <div class="input-group">
                    <input id="comment" class="form-control p-2" name="comment">

                    <input type="hidden" name="bookId" value="{{bookId}}">
                    <button id="comment-btn" type="submit" class="btn btn-primary" onclick="postComment()"
                        value="Click">댓글달기</button>
                </div>
            </form>
            {% endif %}
            <div id="comments-collection" class="w-75 ms-auto me-auto">
                {% for comment in comments %}
                <table>
                    <!-- OwnerId -->
                    <input type="hidden" name="OwnerId" value="{{user}}">
                    {% if users and users.id %}
                    <form id="comment-ED-form-{{comment.id}}">
                        <div>
                            <input type="hidden" name="bookId" value="{{bookId}}">
                            <input type="hidden" name="UserId" value="{{comment.UserId}}">
                            <input type="hidden" name="commentId" value="{{comment.id}}">
                            <input type="hidden" name="comment_createdAt" value="{{comment.createdAt}}">

                            <!-- 댓글 본문 -->
                            <div class="commentList">
                                <div class="d-sm-flex commentListInner">
                                    <div class="comment-nick fw-bold">{{comment.commentingNick}}</div>
                                    <input hidden id="comment-nick-{{comment.id}}" value="{{comment.commentingNick}}">
                                    <div class="d-flex align-items-center">
                                        <div class="comment-content">{{comment.createdAt}}</div>
                                        <div class="dropdown">
                                            <a class="dropdown-toggle btn" href="#" data-bs-toggle="dropdown"
                                                aria-expanded="true"></a>
                                            <ul class="dropdown-menu" aria-labelledby="dropdown1">
                                                <li><a id="comment-edit-btn-{{comment.id}}" class="dropdown-item"
                                                        role="menuitem" tabindex="-1" type="submit" class="btn"
                                                        onclick="re_comment('{{comment.id}}')">댓글</a></li>
                                                <li><button id="comment-edit-btn-{{comment.id}}" class="dropdown-item"
                                                        role="menuitem" tabindex="-1" type="submit" class="btn"
                                                        onclick="comment_edit('{{comment.id}}')">수정</button></li>
                                                <li><button id="comment-delete-btn-{{comment.id}}" class="dropdown-item"
                                                        role="menuitem" tabindex="-1" type="submit" class="btn"
                                                        onclick="comment_delete('{{comment.id}}')">삭제</button></li>
                                                {% if users.nick == book.usernick %}
                                                <li><button id="item-delete-btn-{{comment.id}}" class="dropdown-item"
                                                    role="menuitem" tabindex="-1" type="submit" class="btn"
                                                    onclick="comment_trade_complete('{{comment.id}}')">거래완료</button></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-content"><a>{{comment.content}}</a></div>
                            </div>
                            <input type="hidden" id="edit_it-{{comment.id}}" name="edited_comment"
                                value="{{comment.id}}">
                            <input type="hidden" id="userid_it-{{comment.id}}" name="UserId_comment"
                                value="{{comment.id}}">
                            <input type="hidden" id="commentid_it-{{comment.id}}" name="commentId"
                                value="{{comment.id}}">
                        </div>
                    </form>
                    <!-- 답글입력 -->
                    <div id="inputReComment-{{comment.id}}" class="w-100"></div>
                    <!-- 로그인 대댓글 -->
                    {% for re_comment in re_comments %}
                    <form id="re_comment-ED-form-{{comment.id}}-{{re_comment.id}}">
                        {% if re_comment.reCommentingId == comment.id %}
                        <input type="hidden" name="recomment_reCommentedId" value="{{re_comment.reCommentedId}}">
                        <input type="hidden" name="recomment_UserId" value="{{re_comment.UserId}}">
                        <input type="hidden" name="re_bookId" value="{{bookId}}">
                        <input type="hidden" name="re_commentId" value="{{re_comment.id}}">
                        <input type="hidden" name="re_comment_createdAt" value="{{re_comment.createdAt}}">

                        <div class="reCommentList">
                            <div class="reCommentListInner d-sm-flex">
                                <div class="d-flex align-items-center">
                                    <div class="p-2"><img src="/img/reply.png" style="opacity: 0.5;" width="15px"></div>
                                    <div class="comment-nick fw-bold">{{re_comment.reCommentNick}}</div>
                                    <input hidden id="reCom_nick-{{comment.id}}-{{re_comment.id}}" value="{{re_comment.reCommentNick}}">
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="comment-content">{{re_comment.createdAt}}</div>
                                    <div class="dropdown">
                                        <a class="dropdown-toggle btn" href="#" data-bs-toggle="dropdown"
                                            aria-expanded="true"></a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdown1">
                                            <li><button id="re_comment-edit-btn-{{re_comment.id}}" class="dropdown-item"
                                                    role="menuitem" tabindex="-1" type="submit" class="btn"
                                                    onclick="re_comment_edit('{{comment.id}}','{{re_comment.id}}')">수정</button>
                                            </li>
                                            <li><button id="re_comment-delete-btn-{{re_comment.id}}"
                                                    class="dropdown-item" role="menuitem" tabindex="-1" type="submit"
                                                    class="btn"
                                                    onclick="re_comment_delete('{{comment.id}}','{{re_comment.id}}')">삭제</button>
                                            </li>
                                            {% if users.nick == book.usernick %}
                                            <li><button id="re_comment-delete-btn-{{re_comment.id}}" class="dropdown-item" 
                                                role="menuitem" tabindex="-1" type="submit" class="btn"
                                                onclick="re_comment_trade_complete('{{comment.id}}','{{re_comment.id}}')">거래완료</button>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-content ms-sm-2"><a>{{re_comment.content}}</a></div>
                            <input type="hidden" id="reCom_id-{{re_comment.id}}" name="reCom_edited_comment"
                                value="{{re_comment.content}}">
                        </div>
                        {% endif %}
                    </form>
                    {% endfor %}

                    <!-- 비로그인 댓글 -->
                    {% else %}
                    <div class="commentList">
                        <div class="d-sm-flex commentListInner">
                            <div class="comment-nick fw-bold">{{comment.commentingNick}}</div>
                            <div class="comment-content">{{comment.createdAt}}</div>
                        </div>
                        <div class="comment-content"><a>{{comment.content}}</a></div>
                    </div>

                    <!-- 비로그인 대댓글 -->
                    {% for re_comment in re_comments %}
                    {% if re_comment.reCommentingId == comment.id %}
                    <div class="reCommentList">
                        <div class="reCommentListInner d-sm-flex">
                            <div class="d-flex align-items-center">
                                <div class="p-2"><img src="/img/reply.png" style="opacity: 0.5;" width="15px"></div>
                                <div class="comment-nick fw-bold">{{re_comment.reCommentNick}}</div>
                            </div>
                            <div class="comment-content">{{re_comment.createdAt}}</div>
                        </div>
                        <div class="comment-content ms-sm-2"><a>{{re_comment.content}}</a></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </table>
                {% endfor %}
            </div>
        </main>
        <!-- footer -->
        <nav class="navbar navbar-expand-md bg-dark border-1" id="footerNav"></nav>
    </div>
    <script>
        // 검색
        function one() {
            const request = document.getElementById('search-form');
            request.setAttribute('action', '/search{{searchWord}}');
            request.setAttribute('method', 'GET');
        }
        function postComment() {
            const request = document.getElementById('comment-form');

            let comment = document.getElementById('comment').value.replace(/\s|　/gi, '');

            if (comment == '') {
                alert("내용을 입력하세요");
            } else {
                request.setAttribute('action', '/wannabuy/buybook/{{bookId}}/comment');
                request.setAttribute('method', 'POST');
            }
        }

        function comment_edit(id) {
            var Com = prompt('수정 할 문구를 적어주세요');
            document.getElementById(`edit_it-${id}`).value = `${Com}`;

            const request = document.getElementById(`comment-ED-form-${id}`);

            let ckCom = Com.replace(/\s|　/gi, '');
            if (ckCom == '') {
                alert("내용을 입력하세요");
            } else {
                request.setAttribute('action', `/comment/commentEdit_buy?Com`);
                request.setAttribute('method', 'GET');
            }

        }

        // function comment_delete(id) {
        //     const request = document.getElementById(`comment-ED-form-${id}`);
        //     request.setAttribute('action', '/comment/commentDelete_buy');
        //     request.setAttribute('method', 'GET');
        // }

        // 대댓글
        function re_comment(id) {
            console.log("대댓글 클릭됨");
            const request = document.getElementById(`comment-ED-form-${id}`);

            const userId = document.getElementById(`userid_it-${id}`).value;
            const commentId = document.getElementById(`commentid_it-${id}`).value;
            console.log("@@ = ", commentId);
            const inputRe = document.getElementById(`inputReComment-${id}`);
            inputRe.innerHTML = '<form action="/wannabuy/recomment" method="POST"><div class="input-group"><input type="text" id="comment" class="reComment inputForm w-50 p-2" name="comment"><input type="hidden" name="bookId" value="{{bookId}}"><input type="hidden" id="commentId" name="commentId" value="{{comment.id}}"><input type="hidden" id="userId" name="UserId" value="{{userId}}"><button id="comment-btn" type="submit" class="btn btn-primary" onclick="postReComment()"value="Click">답글등록</button></div></form>';
            document.getElementById(`userId`).value = userId;
            document.getElementById(`commentId`).value = commentId;
        }

        // 대댓글 등록클릭 이벤트
        function postReComment() {
            alert("대댓글 등록");
            window.location.reload();
        }

        // 대댓글 수정/삭제
        function re_comment_edit(cid, id) {
            var Com = prompt('수정 할 문구를 적어주세요');
            document.getElementById(`reCom_id-${id}`).value = `${Com}`;
            console.log("@@ = ", Com);
            console.log("id =", id);
            console.log("cid = ", cid);
            const request = document.getElementById(`re_comment-ED-form-${cid}-${id}`);

            let ckCom = Com.replace(/\s|  /gi, '');
            if (ckCom == '') {
                alert("내용을 입력하세요");
            } else {
                request.setAttribute('action', `/comment/reCommentEdit_buy`);
                request.setAttribute('method', 'GET');
            }
        }

        function re_comment_delete(cid, id) {
            const request = document.getElementById(`re_comment-ED-form-${cid}-${id}`);
            request.setAttribute('action', '/comment/reCommentDelete_buy');
            request.setAttribute('method', 'GET');
        }

        function comment_trade_complete(id) {
            const name = document.getElementById(`comment-nick-${id}`).value
            console.log(name);
            const request = document.getElementById(`comment-ED-form-${id}`);
            // confirm에서 선택에 따라 이벤트 발생
            if(confirm('"' + name + '"' + "님과 거래를 마쳤습니까?")) {
                // 성공
                request.setAttribute('action', '/trade/commentTrade_buy');
                request.setAttribute('method', 'POST');
            } else
                // 취소
                alert("거래 취소");
        }

        function re_comment_trade_complete(id) {
            const reName = document.getElementById(`reCom_nick-${cid}-${id}`).value
            console.log(reName);
            const request = document.getElementById(`re_comment-ED-form-${cid}-${id}`);
            // confirm에서 선택에 따라 이벤트 발생
            if(confirm(reName + "님과 거래를 마쳤습니까?")) {
                // 성공
                request.setAttribute('action', '/trade/reCommentTrade_buy');
                request.setAttribute('method', 'POST');
            } else
                // 취소
                alert("거래 취소");
        }

    </script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/topNav.js"></script>
    <script src="/js/timestamp.js"></script>
    <script src="/js/postUD.js"></script>
    <script src="/js/commentEvent.js"></script>

</body>

</html>