<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/loginStyle.css">

    <title>아이디 찾기</title>
</head>

<body>
    <form id="changePW-form">
        {% if user %}
        <p>{{user}}님 비밀번호 변경 해주세요.</p>
        <input type="hidden" name="name", value="{{user}}">
        <input type="password" name="newPW" class="form-control" placeholder="새로운 비밀번호">
        <input type="password" name="check_newPW" class="form-control" placeholder="비밀번호 확인">
        <button class="btn btn-lg btn-primary w-100" id="change" type="submit">확인</button>
        {% else %}
        {% endif %}
    </form>
    <script>
        const request = document.getElementById('changePW-form');

        const signup_btn = document.getElementById('change');
        signup_btn.addEventListener('click', () => {
            request.setAttribute('action', '/auth/changePW');
            request.setAttribute('method', 'POST');
        });
    </script>
</body>

</html>