<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">

    <!-- <title>판매 디테일</title> -->
    <title>커뮤니티</title>
</head>

<body>
    <div class="flex w-100">
        <!-- 상단 바 -->
        {% include "topNavbar2.html" %}

        <!-- 컨텐츠 -->
        <main class="saleDetail border container-sm overflow-hidden mt-0 mb-0 min-vh-100 pt-3 pb-5">
            <!-- 검색, 메뉴이동 기능 -->
            {% include "searchBox.html" %}

            <div class="w-75 ms-auto me-auto">
                <!-- 제목 -->
                <div class="w-100 pb-2 mb-4 border-bottom">
                    <div class="d-lg-flex align-items-center">
                        <h1 class="h2 text-decoration-none w-100 fw-bold" id="getPostingTitle">{{community.title}}</h1>
                        <!-- 등록 시간을 DB에서 받아와 YMD 형식으로 바꿀 JS코드 필요 => 해결 -->
                        <a class="text-decoration-none w-100 text-dark text-end" id="getPostingDate">{{createdAt}}</a>
                    </div>
                    <!-- <p class="mt-3 fw-bold">{{book.usernick}}</p> -->
                </div>

                <!-- 게시물 정보 -->
                <div class="wrapBookInfo d-flex">
                    <div class="bookInfo w-100 me-0 align-content-between">
                        <div class="category d-flex align-items-center mt-2 mb-2">
                            <a class="text-body text-decoration-none fw-bold" id="getAppearanceInfo">{{community.postingNick}}</a>
                        </div>
                    </div>

                    <div>
                        <form id="community_item-ED-form-{{community.id}}">
                            <input type="hidden" id="delete_it-{{community.id}}" name="this_item_id" value="{{community.id}}">
                            <input type="hidden" id="delete_it-{{community.id}}" name="this_item_postingId" value="{{community.postingId}}">
                            <input type="hidden" id="delete_it-{{community.id}}" name="this_item_content" value="{{community.content}}">
                            <input type="hidden" id="delete_it-{{community.id}}" name="this_item_createdAt" value="{{community.createdAt}}">
                            <div class="dropdown">
                                <a class="btn" href="#" data-bs-toggle="dropdown"
                                    aria-expanded="true">⁝</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdown1">
                                    <li><button id="item-edit-btn-{{community.id}}" class="dropdown-item"
                                            role="menuitem" tabindex="-1" type="submit" class="btn"
                                            onclick="community_item_edit('{{community.id}}')">수정</button></li>
                                    <li><button id="item-delete-btn-{{community.id}}" class="dropdown-item"
                                            role="menuitem" tabindex="-1" type="submit" class="btn"
                                            onclick="community_item_delete('{{community.id}}')">삭제</button></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="commuAbout align-items-center mt-2 mb-2 pt-4 pb-4">
                    <a class="text-body text-decoration-none" id="getAppearanceInfo" onload="replaceLine()" style="white-space: pre-line;">{{community.content}}</a>
                </div>
            </div>

            <!-- 댓글 달기 -->
            {% if users and users.id %}
            <form id="comment-form" class="mt-5 w-75 ms-auto me-auto">
                <div class="input-group">
                    <input id="comment" class="form-control p-2" name="comment">
                    <!-- <textarea id="comment" name="comment" maxlength="140"></textarea> -->

                    <input type="hidden" name="communityId" value="{{communityId}}">
                    <button id="comment-btn" type="submit" class="btn btn-primary" onclick="postComment()"
                        value="Click">댓글달기</button>
                </div>
            </form>
            {% endif %}
            <div id="comments-collection" class="w-75 ms-auto me-auto">
                {% for comment in comments %}
                <table>
                    <tr>
                        <!-- OwnerId -->
                        <input type="hidden" name="OwnerId" value="{{user}}">

                        <form id="comment-ED-form-{{comment.id}}">
                            {% if users and users.id %}
                            <input type="hidden" name="communityId" value="{{communityId}}">
                            <input type="hidden" name="UserId" value="{{comment.UserId}}">
                            <input type="hidden" name="commentId" value="{{comment.id}}">
                            <input type="hidden" name="comment_createdAt" value="{{comment.createdAt}}">
                            <td>
                                <div class="comment-nick me-3">{{comment.commentingNick}}</div>
                            </td>
                            <td>
                                <div class="comment-content me-3">{{comment.content}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</div>
                            </td>
                            <td>
                                <div class="comment-content me-3">{{comment.createdAt}}</div>
                            </td>

                            <input type="hidden" id="edit_it-{{comment.id}}" name="edited_comment"
                                value="{{comment.id}}">
                            <td>
                                <div class="dropdown">
                                    <a class="dropdown-toggle btn" href="#" data-bs-toggle="dropdown"
                                        aria-expanded="true"></a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdown1">
                                        <li><button id="comment-edit-btn-{{comment.id}}" class="dropdown-item"
                                                role="menuitem" tabindex="-1" type="submit" class="btn"
                                                onclick="comment_edit('{{comment.id}}')">수정</button></li>
                                        <li><button id="comment-delete-btn-{{comment.id}}" class="dropdown-item"
                                                role="menuitem" tabindex="-1" type="submit" class="btn"
                                                onclick="comment_delete('{{comment.id}}')">삭제</button></li>
                                    </ul>
                                </div>
                            </td>

                            <td></td>
                            {% else %}
                            <td>
                                <div class="comment-nick me-3">{{comment.commentingNick}}</div>
                            </td>
                            <td>
                                <div class="comment-content me-3">{{comment.content}}</div>
                            </td>
                            <td>
                                <div class="comment-content me-3">{{comment.createdAt}}</div>
                            </td>
                            {% endif %}
                        </form>
                    </tr>
                </table>
                {% endfor %}
            </div>

        </main>
        <!-- footer -->
        <nav class="navbar navbar-expand-md bg-dark border-1" id="footerNav"></nav>
    </div>
    <script>
        // 커뮤니티 스크립트
        function community_item_edit(id) {
            const request = document.getElementById(`community_item-ED-form-${id}`);
            request.setAttribute('action', '/free_community/editIt_community');
            request.setAttribute('method', 'POST');
        }

        function community_item_delete(id) {
            const request = document.getElementById(`community_item-ED-form-${id}`);
            request.setAttribute('action', '/free_community/delete_community');
            request.setAttribute('method', 'GET');
        }

        // 여기만 수정
        function postComment() {
            const request = document.getElementById('comment-form');

            let comment = document.getElementById('comment').value.replace(/\s|　/gi, '');

            if(comment == '') {
                alert("내용을 입력하세요");
            } else {
                request.setAttribute('action', '/free_community/community/{{communityId}}/comment');
                request.setAttribute('method', 'POST');
            }
            // request.setAttribute('action', '/free_community/community/{{communityId}}/comment');
            // request.setAttribute('method', 'POST');
        }

        // 밑에는 수정 해야함
        function comment_edit(id) {
            var Com = prompt('수정 할 문구를 적어주세요');
            document.getElementById(`edit_it-${id}`).value = `${Com}`;

            const request = document.getElementById(`comment-ED-form-${id}`);

            let ckCom = Com.replace(/\s|　/gi, '');
            if(ckCom == '') {
                alert("내용을 입력하세요");
            } else {
                request.setAttribute('action', `/comment/commentEdit_commu?Com`);
                request.setAttribute('method', 'GET');
            }
        }

        function comment_delete(id) {
            const request = document.getElementById(`comment-ED-form-${id}`);
            request.setAttribute('action', '/comment/commentDelete_commu');
            request.setAttribute('method', 'GET');
        }

    </script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/topNav.js"></script>
</body>

</html>