<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>고객문의</title>
</head>

<body>
    <div class="flex w-100">
        <!-- top -->
        {% include "topNavbar.html" %}

        <!-- main -->
        <main class="border container-sm mt-0 mb-0 min-vh-100 pt-5">
            <h1 class="h2 fw-bold mb-4">고객문의</h1>
            <form id="book-form" class="mb-5"><a href="/pages/csRegist"
                    class="addBook text-decoration-none btn-primary p-2">글 등록</a></form>

            {% for complain in complains %}
            <div class="postingList border p-5" onclick="location.href='/customer/complain/{{complain.id}}'"
                href="/customer/complain/{{complain.id}}">
                <div class="pb-3 border-bottom">
                    <div class="d-sm-flex justify-content-between align-items-center mb-3">
                        <h1 class="postingTitle h3 fw-bold">{{complain.title}}</h1>
                        <a class="text-decoration-none text-dark">{{complain.createdAt}}</a>
                    </div>
                    <a>{{complain.complainedNick}}</a>
                </div>
                <p class="postingBody pt-3">{{complain.content}}</p>
            </div>
            {% endfor %}

            <!-- 페이징 -->
            {% set pageBlock = 2 %}
            <div class="pagingWrap">
                <ul id="Postpages" class="pagination">
                    <li class="page-item {% if currentPage <= 1%}disabled{% endif %}">
                        <a class="page-link" href="/pages/csList?page={{currentPage - 1}}"
                            aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                    </li>
                    {% for i in maxPage%}
                    <!-- for문으로 페이지 번호 추가-->
                    {% if i==0 or i+1==maxPage|length or (i+1>=currentPage-pageBlock and i+1<=currentPage|int+pageBlock)
                        %} <li class="page-item"><a class="page-link" href="/pages/csList?page={{ i + 1 }}">{{ i + 1
                            }}</a></li>
                        {% elif i==1 or i+1==maxPage|length-2%}
                        <li class="page-item"><a class="page-link">..</a></li>
                        {% endif %}
                        {% endfor %}
                        <li class="page-item {% if currentPage >= maxPage | length %}disabled{% endif %}">
                            <a class="page-link" href="/pages/csList?page={{ currentPage | int + 1 }}"
                                aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                        </li>
                </ul>
            </div>

        </main>


        <!-- footer -->
        <nav class="navbar navbar-expand-md bg-dark border-1" id="footerNav"></nav>
    </div>

    <script src="/js/topNav.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>