<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/style.css">
  <!-- <link rel="stylesheet" href="/css/saleDetail.css"> -->

  <title>구매물품 정보 수정</title>
</head>

<body>
  <div class="flex w-100">
    <!-- top -->
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-white" id="topNav">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/img/logo3.png" width="160" height="64"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse justify-content-sm-end" id="navbarCollapse">
          <ul class="navbar-nav mb-2 mb-md-0">
            <li class="nav-item"><a class="nav-link p-3" href="#">관심상품</a></li>
            {% if user and user.id %}
            <li class="nav-item"><a class="nav-link p-3">안녕하세요 {{user.nick}}님</a></li>
            <li class="nav-item"><a class="nav-link p-3" href="/mypage">마이페이지</a></li>
            <li class="nav-item"><a class="nav-link p-3" href="/pages/like">관심상품</a></li>
            <li class="nav-item"><a class="nav-link p-3" href="/auth/logout">로그아웃</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link p-3" href="/login">로그인</a></li>{% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- 책 등록 -->
    <main class="registerForm border container-sm overflow-hidden mt-0 mb-0 min-vh-100 pt-3 pb-5">
      <form id="edit_book-form" class="p-5">
        <input type="text" class="form-control p-3" id="postTitle" name="postmessage" value="{{books.postmessage}}" required autofocus>

        <div class="input-group">
          <label for="book-name">책 이름</label>
          <input type="text" class="form-control p-3" id="book-name" name="title" value="{{books.title}}" required>
        </div>

        <div class="input-group">
          <label for="book-price">가격</label>
          <input type="number" class="form-control p-3" id="book-price" name="price" value="{{books.price}}" required>
        </div>

        <div class="input-group">
          <label for="book-author">저자</label>
          <input type="text" class="form-control p-3" id="book-author" name="author" value="{{books.author}}">
        </div>

        <div class="input-group">
          <label for="book-publisher">출판사</label>
          <input type="text" class="form-control p-3" id="book-publisher" name="publisher" value="{{books.publisher}}">
        </div>

        <h1 class="h4 mt-3">카테고리</h1>
        <div class="categoryBox input-group align-items-center p-3 bg-white border" id="categoryCheck">
          <div class="d-flex"><input type="checkbox" onclick="ckLimit(this)" class="form-check-input" id="book-category1" name="checkCategory" value="경영/경제">
          <label for="book-category1" class="me-3 ms-2" style="display: block;">경영/경제</label></div>

          <div class="d-flex"><input type="checkbox" onclick="ckLimit(this)" class="form-check-input" id="book-category2" name="checkCategory" value="학습/참고서">
          <label for="book-category2" class="me-3 ms-2" style="display: block;">학습/참고서</label></div>

          <div class="d-flex"><input type="checkbox" onclick="ckLimit(this)" class="form-check-input" id="book-category3" name="checkCategory" value="만화">
          <label for="book-category3" class="me-3 ms-2" style="display: block;">만화</label></div>

          <div class="d-flex"><input type="checkbox" onclick="ckLimit(this)" class="form-check-input" id="book-category4" name="checkCategory" value="과학/컴퓨터">
          <label for="book-category4" class="me-3 ms-2" style="display: block;">과학/컴퓨터</label></div>

          <div class="d-flex"><input type="checkbox" onclick="ckLimit(this)" class="form-check-input" id="book-category5" name="checkCategory" value="외국서적">
          <label for="book-category5" class="me-3 ms-2" style="display: block;">외국서적</label></div>

          <div class="d-flex"><input type="checkbox" onclick="ckLimit(this)" class="form-check-input" id="book-category6" name="checkCategory" value="정치/사회">
          <label for="book-category6" class="me-3 ms-2" style="display: block;">정치/사회</label></div>

          <div class="d-flex"><input type="checkbox" onclick="ckLimit(this)" class="form-check-input" id="book-category7" name="checkCategory" value="아동">
          <label for="book-category7" class="me-3 ms-2" style="display: block;">아동</label></div>

          <div class="d-flex"><input type="checkbox" onclick="ckLimit(this)" class="form-check-input" id="book-category8" name="checkCategory" value="인문/시/소설">
          <label for="book-category8" class="me-3 ms-2" style="display: block;">인문/시/소설</label></div>

          <div class="d-flex"><input type="checkbox" onclick="ckLimit(this)" class="form-check-input" id="book-category9" name="checkCategory" value="여행/취미">
          <label for="book-category9" class="me-3 ms-2" style="display: block;">여행/취미</label></div>

          <div class="d-flex"><input type="checkbox" onclick="ckLimit(this)" class="form-check-input" id="book-category11" name="checkCategory" value="기타" checked>
          <label for="book-category11" class="me-3 ms-2" style="display: block;">기타</label></div>

          <!-- <input type="text" class="form-control p-3" id="book-category" name="category" placeholder="카테고리" required> -->
        </div>

        <h1 class="h4 mt-3">거래방법</h1>
        <a class="fw-bold h5 text-black-50 text-decoration-none" id="postMyLocation">내 위치</a>
        <select class="form-select mb-1 p-2" id="dealMethod" name="dealRoot">
          <option  name="dealRoot"value="직거래, 택배" selected>직거래, 택배</option>
          <option name="dealRoot" value="직거래">직거래</option>
          <option name="dealRoot" value="택배">택배</option>
        </select>

        <div class="input-group">
          <label for="book-about">상품설명</label>
          <input type="text" class="form-control p-3" id="book-about" name="about" value="{{books.about}}">
        </div>
        <input type="hidden" name="this_item_id" value="{{books.id}}">
        <input type="hidden" name="this_item_createdAt" value="{{books.createdAt}}">
        <button class="btn btn-lg btn-primary w-100" class="btn" type="submit" onclick="one()">상품 등록</button>
      </form>
    </main>

  </div>

  <!-- footer -->
  <nav class="navbar navbar-expand-md bg-dark border-1" id="footerNav"></nav>

  <script>
    function one() {
      console.log("@!@@!@!!@");
      const request = document.getElementById('edit_book-form');
      request.setAttribute('action', '/wannabuy/edit');
      request.setAttribute('method', 'POST');
    }
  </script>
  <script src="/js/topNav.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/ckboxLimit.js"></script>
</body>

</html>