<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="stylesheet" href="/css/saleDetail.css"> -->

    <title>커뮤니티 정보 수정</title>
</head>

<body>
    <div class="flex w-100">
        <!-- top -->
        {% include "topNavbar.html" %}

        <!-- 커뮤니티 수정 내용 -->
        <main class="registerForm border container-sm overflow-hidden mt-0 mb-0 min-vh-100 pt-3 pb-5">
            <form id="edit_commu-form" class="regiRequest p-5">
                <input type="hidden" name="this_item_id" value="{{community.id}}">
                <input type="text" class="form-control p-3" id="postTitle" name="communityTitle" value="{{community.title}}" required autofocus>

                <div class="input-group">
                    <label for="book-about">게시판 내용</label>
                    <textarea type="text" class="form-control p-3 mb-4" id="book-about" name="communityContent" placeholder="내용" rows="10">{{community.content}}</textarea>
                </div>

                <button class="btn btn-lg btn-primary w-100" class="btn" type="submit" onclick="one()">게시물 등록</button>
            </form>
        </main>

    </div>

    <!-- footer -->
    <nav class="navbar navbar-expand-md bg-dark border-1" id="footerNav"></nav>

    <script>
        function one() {
            const request = document.getElementById('edit_commu-form');
            request.setAttribute('action', '/free_community/edit_community');
            request.setAttribute('method', 'POST');
        }
    </script>
    <script src="/js/topNav.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/ckboxLimit.js"></script>
</body>

</html>