<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/loginStyle.css">

    <title>비밀번호 찾기</title>
</head>

<body>
    <div class="flex w-100">
        <!-- 상단 바 -->
        <nav class="navbar fixed-top navbar-expand-md navbar-light bg-white" id="topNav">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="/img/logo3.png" width="160" height="64"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse justify-content-sm-end" id="navbarCollapse">
                    <ul class="navbar-nav mb-2 mb-md-0">
                        <li class="nav-item"><a class="nav-link p-3" href="/">관심상품</a></li>
                        <li class="nav-item"><a class="nav-link p-3" href="/login">로그인</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- 비밀번호 찾기 -->
        <main class="findBox container-sm form-signin p-5">
            <div class="w-100 text-center mb-4">
                <a class=""><img src="/img/logo3.png" width="145px" height="58px"></a>
                <h1 class="h2">비밀번호 찾기</h1>
            </div>
            <div class="moveFind w-100 text-center p-2">
                <a class="h6 ps-2 pe-2 text-decoration-none text-dark" href="/pages/findID">아이디 찾기</a>
                <a class="h6 ps-2 pe-2 text-decoration-none" href="/pages/findPW">비밀번호 찾기</a>
            </div>
            <form id="findPW-form">
                {% if user %}
                <input type="text" name="nick" class="form-control" value={{email}}> <!-- 입력 못하게 막기 -->
        
                <input type="text" name="answer" class="form-control" placeholder= "질문: [ {{question}} ]">
                <button class="btn btn-lg btn-primary w-100" id="findPW" type="submit" onclick="two()">비밀번호 바꾸기</button>
            
                {% else %}
                <input type="email" name="email" class="form-control" placeholder="사용자 이메일">
                <button class="btn btn-lg btn-primary w-100" id="find" type="submit" onclick="one()">비밀번호 찾기</button>
        
                {% endif %}
            </form>
        </main>

        <!-- footer -->
        <nav class="navbar fixed-bottom navbar-expand-md bg-dark border-1" id="footerNav"></nav>
    </div>
    <!-- <script src="/js/find_ID_PW-cli.js"></script> -->
    <script>
        function one() {
            const request = document.getElementById('findPW-form');
            request.setAttribute('action', '/auth/PW_fir');
            request.setAttribute('method', 'POST');
        }

        function two() {
            const request = document.getElementById('findPW-form');
            request.setAttribute('action', '/auth/PW_sec');
            request.setAttribute('method', 'POST');
        }

    </script>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/topNav.js"></script>
</body>
</html>
