<!-- 
** sellingList.html / buyingList.html 사용 안함 (아직 지우지는 마세요)
***** 배포할 때 package.json에 이거 넣기 *****
** "start": "NODE_ENV=production PORT=2030 pm2 start server.js -i 0", "dev": "nodemon server"

    2021-04-19
        < 구현 할 것 >
            - 무료나눔 디테일 따로 만들기
            - 카카오로 채팅 하기 기능

        < 수정한 것 >
            - 일단은 saleDetail에다가 책의 오너의 아이디를 찾아서 그 아이디로 User를 찾고 그 User의 아이디를 saleDetail에 표시되게 해 놓았는데요
              책이 등록 될 때 등록이 되면 좋겠지만 이렇게 하면 만약 User가 이사가면 그 책의 위치는 바뀌지 않음을 고려하여 그렇게 안했습니다.
            - 회원이 위치 등록이 안되었으면 "위치 등록이 안되었습니다 표시해주기"를 각 ~~Detail.html 파일(community 제외)에 모두 적용하였습니다.

        < 추가한 것 >


        < 조치 필요 사항 >
            (공통)


            (프론트)
                - 위치 등록이 안되었습니다 할 때 옆에 "?"마크를 추가해서 마우스를 갖다올려 놓으면 위치설정하는 도움말이 나오도록 하면 좋을 것 같습니다.
                - 각 Detail에 시간이 밑으로 내려와서 선에 맞출 수 있도록 해주세요
            (백)



    2021-04-18
        < 구현 할 것 >
            - 무료나눔 디테일 따로 만들기
            - 카카오로 채팅 하기 기능
                        
        < 수정한 것 >
            - 무료나눔, 커뮤니티 로그인 안해도 들어갈 수 있게 함
            
        < 추가한 것 >
            - 새로 바뀐 폼들에 맞춰 로직 바꾸기 (판매, 구매 list)
            - 커뮤니티를 위해 community 테이블 추가함

        < 조치 필요 사항 >
            (공통)
                - 슬라이드에 적용될 것들
                - 마이페이지 안에 장바구니 안넣어도 될 것 같은데 팀원들 의견 필요. => 찜 한 내역으로 대체 가능하기 때문
                - 판매중인 책, 구매중인 책 구분할건지 아니면 default페이지로 판매중인 페이지를 띄울지 상의해야함
                - buyDetail을 만들 때 saleDetail을 복붙해서 필요없는 정보들만 뺀 상태라서 검사 한번 부탁드려요.

            (프론트)
                - 검색 후 창을 따로 분리할지 결정할 필요 있어보입니다.
                - 삭제,수정 할 때 누르는 버튼인 " : "이 잘 보이게 조금 더 컸음 좋겠습니다.

            (백)
                - 바뀐 후 구매하기에서 수정을 하면 saleDetail로 넘어가는거 고쳐야함.
                - 구매하기에 게시물 작성일 추가하기 (시간 정제해서)



    2021-04-15
        < 구현 할 것 >
            - 새로 바뀐 폼들에 맞춰 로직 바꾸기 (판매리스트, 구매, 무료나눔, 커뮤니티) 
            - 무료나눔 수정,삭제 구현
            - provider=local이 아니면 id랑 nick 같게 해야함. 그래야 커뮤니티에 닉네임 표시 가능.
            - 커뮤니티 수정 삭제 구현하기 

        < 수정한 것 >
            - 무료나눔, 커뮤니티 로그인 안해도 들어갈 수 있게 함
            
        < 추가한 것 >
            - 새로 바뀐 폼들에 맞춰 로직 바꾸기 (판매, 구매 list)
            - 커뮤니티를 위해 community 테이블 추가함

        < 조치 필요 사항 >
            (공통)
                - 슬라이드에 적용될 것들
                - 마이페이지 안에 장바구니 안넣어도 될 것 같은데 팀원들 의견 필요. => 찜 한 내역으로 대체 가능하기 때문
                - 판매중인 책, 구매중인 책 구분할건지 아니면 default페이지로 판매중인 페이지를 띄울지 상의해야함
                - buyDetail을 만들 때 saleDetail을 복붙해서 필요없는 정보들만 뺀 상태라서 검사 한번 부탁드려요.

            (프론트)
                - 검색 후 창을 따로 분리할지 결정할 필요 있어보입니다.
                - 삭제,수정 할 때 누르는 버튼인 " : "이 잘 보이게 조금 더 컸음 좋겠습니다.

            (백)
                - 바뀐 후 구매하기에서 수정을 하면 saleDetail로 넘어가는거 고쳐야함.
                - 구매하기에 게시물 작성일 추가하기 (시간 정제해서)

    2021-04-12
        < 구현 할 것 >
            - 위치 저장 테이블 만들기    <- (완료)
                User - location: 사용자 위치저장 
                
            - 위치별로 물품 뿌려주기

        < 수정한 것 >
            - 검색 후 상단 nav의 내용이 로그인 전 구성으로 바뀌는거 고침.
            - 검색 후 "삽니다" 게시물에 들어가면 "팝니다" 양식으로 보여지는거 고침.
            - 위치정보 프론트에서 받아서 디비에 쌓음.

        < 추가한 것 >
            - 게시물 수정, 삭제, 관심상품 뿌려주기 기능들에 문제가 있어서 해결 완료.
            - 게시물 닉네임 넣기 위한 테이블 추가
            - 게시물 닉네임 넣기 구현
            - 댓글 단 시간 표시 해줌
            - buyDetail 추가하여 구매하기에 해당 목록을 누르면 디테일에 들어가고 댓글을 달 수 있고, 수정 삭제가 가능하게 함.

        < 조치 필요 사항 >
            (공통)
                - 슬라이드에 적용될 것들
                - 마이페이지 안에 장바구니 안넣어도 될 것 같은데 팀원들 의견 필요. => 찜 한 내역으로 대체 가능하기 때문
                - 판매중인 책, 구매중인 책 구분할건지 아니면 default페이지로 판매중인 페이지를 띄울지 상의해야함
                - buyDetail을 만들 때 saleDetail을 복붙해서 필요없는 정보들만 뺀 상태라서 검사 한번 부탁드려요.

            (프론트)
                - 검색 후 창을 따로 분리할지 결정할 필요 있어보입니다.
                - 삭제,수정 할 때 누르는 버튼인 " : "이 잘 보이게 조금 더 컸음 좋겠습니다.

            (백)



    2021-04-10
        < 구현 할 것 >
            - 삽니다 추가 하려면 테이블 수정 필요 <- (완료)
                    < 구상 >
                        * 이미지, 사용 흔적은 없음.
                        * isSelling에 0으로 구매 중인거 표시

            - 마이페이지/구매내역에 수정, 삭제 구현 <- (완료)
            - 시간 정보 다듬기 <- (완료)
            - 댓글 단 시간 표시 해줌 <- (완료)

        < 수정한 것 >
            - bookRequest로그인 안되어 있어도 들어갈 수 있게 함
            - registRequest로그인 해야만 할 수 있게 함  

        < 추가한 것 >
            - 게시물 수정, 삭제, 관심상품 뿌려주기 기능들에 문제가 있어서 해결 완료.
            - 게시물 닉네임 넣기 위한 테이블 추가
            - 게시물 닉네임 넣기 구현
            - 댓글 단 시간 표시 해줌
            - buyDetail 추가하여 구매하기에 해당 목록을 누르면 디테일에 들어가고 댓글을 달 수 있고, 수정 삭제가 가능하게 함.

        < 조치 필요 사항 >
            (공통)
                - 슬라이드에 적용될 것들
                - 마이페이지 안에 장바구니 안넣어도 될 것 같은데 팀원들 의견 필요. => 찜 한 내역으로 대체 가능하기 때문
                - 판매중인 책, 구매중인 책 구분할건지 아니면 default페이지로 판매중인 페이지를 띄울지 상의해야함
                - buyDetail을 만들 때 saleDetail을 복붙해서 필요없는 정보들만 뺀 상태라서 검사 한번 부탁드려요.

            (프론트)
                - 검색 후 창을 따로 분리할지 결정할 필요 있어보입니다.
                - 삭제,수정 할 때 누르는 버튼인 " : "이 잘 보이게 조금 더 컸음 좋겠습니다.

            (백)


    2021-04-08
        < 구현 할 것 >

        < 수정한 것 >

        < 추가한 것 >
            - 게시물 수정, 삭제, 관심상품 뿌려주기 기능들에 문제가 있어서 해결 완료.
            - 게시물 닉네임 넣기 위한 테이블 추가
            - 게시물 닉네임 넣기 구현

        < 조치 필요 사항 >
            (공통)
                - 슬라이드에 적용될 것들
                - 마이페이지 안에 장바구니 안넣어도 될 것 같은데 팀원들 의견 필요. => 찜 한 내역으로 대체 가능하기 때문
                - 판매중인 책, 구매중인 책 구분할건지 아니면 default페이지로 판매중인 페이지를 띄울지 상의해야함
                
            (프론트)
                - 그리고 이미지를 여러개 넣을 수 있게끔 만들어야겠습니다.
                - saleDetail.html에 "찜 하기" 버튼 디자인 필요
                - 관심상품 디자인 필요
                - 책 이미지 모서리에 선이 없습니다.
                - 댓글 달면 닉네임 / 댓글 내용 추가 필요합니다. 그리고 수정, 삭제 하는 디자인 필요합니다.
                - 등록된 책들의 타이틀이랑 가격이 중간장렬 돼면 좋겠습니다 
            (백)
                - 시간 정보 다듬어서 보내주기
                    => timestamp 만지면 될 듯


    2021-04-07
        < 구현 할 것 >
            - 판매 내역에서 게시물 수정, 삭제 가능  <- (완료)

        < 수정한 것 >

        < 추가한 것 >
            - 판매 내역에서 게시물 수정, 삭제 가능 

        < 조치 필요 사항 >
            (공통)
                - 슬라이드에 적용될 것들
                - 마이페이지 안에 장바구니 안넣어도 될 것 같은데 팀원들 의견 필요. => 찜 한 내역으로 대체 가능하기 때문
                - 판매중인 책, 구매중인 책 구분할건지 아니면 default페이지로 판매중인 페이지를 띄울지 상의해야함
                
            (프론트)
                - 그리고 이미지를 여러개 넣을 수 있게끔 만들어야겠습니다.
                - saleDetail.html에 "찜 하기" 버튼 디자인 필요
                - 관심상품 디자인 필요
                - 책 이미지 모서리에 선이 없습니다.
                - 댓글 달면 닉네임 / 댓글 내용 추가 필요합니다. 그리고 수정, 삭제 하는 디자인 필요합니다.
                - 등록된 책들의 타이틀이랑 가격이 중간장렬 돼면 좋겠습니다.

            (백)
                - 시간 정보 다듬어서 보내주기
                    => timestamp 만지면 될 듯





    2021-04-06
        < 구현 할 것 >
            - 판매 내역 만들기        <- (완료)
            - 판매 내역 만들 때 table 수정 필요 (게시물 수정, 삭제)    <- (완료)
            - 판매 내역에서 게시물 수정, 삭제 가능      

        < 수정한 것 >
            - (Back) index.html에 관심상품 Nav가 로그아웃 뒤에 있어서 앞으로 오게 하는게 깔끔해 보여서 옮겼습니다.
            - (Back) "삽니다"를 누르면 saleBoard.html가 뜨게 해 놓음.

        < 추가한 것 >
            - 추가된 댓글을 삭제하는 기능, 수정하는 기능
            - 카테고리별로 하는 검색 기능

        < 조치 필요 사항 >
            (공통)
                - 슬라이드에 적용될 것들
                - 마이페이지 안에 장바구니 안넣어도 될 것 같은데 팀원들 의견 필요. => 찜 한 내역으로 대체 가능하기 때문
                - 판매중인 책, 구매중인 책 구분할건지 아니면 default페이지로 판매중인 페이지를 띄울지 상의해야함
                
            (프론트)
                - 그리고 이미지를 여러개 넣을 수 있게끔 만들어야겠습니다.
                - saleDetail.html에 "찜 하기" 버튼 디자인 필요
                - 관심상품 디자인 필요
                - 책 이미지 모서리에 선이 없습니다.
                - 댓글 달면 닉네임 / 댓글 내용 추가 필요합니다. 그리고 수정, 삭제 하는 디자인 필요합니다.
                - 등록된 책들의 타이틀이랑 가격이 중간장렬 돼면 좋겠습니다.

            (백)
                - 시간 정보 다듬어서 보내주기
                    => timestamp 만지면 될 듯


    
    2021-03-30
        < 구현 할 것 >
            - 구글로그인 구현  (완료)
            - 책 등록      <- (작업중)  <- (완료)

        < 수정한 것 >
            - 'models/book.js'을 table이름을 books로 고침 그래서 mysql에 테이블 드롭하고 다시 생성해야할듯. => 그냥 mysql에 테이블 다 지우고 npm start하면 생성됨.
            - 'models/book.js'에 price: 가격 / title: 책 제목 / author: 저자 / publisher: 출판사 / category: 카테고리 
              / demaged: 외관손상 / state: 사용흔적 / img: 이미지 / like: 좋아요 / sold: 팔렸는지 판단 / about: 책 에대한 내용 (판매자 하고싶은말 등)
            - 'models/whobot.js' 추가. 왜냐하면 누가 무엇을 샀는지 빨리 구분할 수 있게 하려고.

        < 추가한 것 >
            - models/whoobot.js
            - views/registerBook.html (구현중이라 다 하고 말씀 드릴테니 그 때 디자인 부탁드려요)
            - 구글 api사용하여 구글로 로그인 가능하게 함

        < 조치 필요 사항 >
            (공통)
                - 책 등록 하면 어떤식으로 등록이 되어야 할지알아야함
                - 사용흔적 넣을지 말지 결정

            (프론트)
                - 비밀번호 찾기 디자인 필요합니다
                    => 03-30 디자인 적용 완료했습니다.
                - saleDetail을 전체적으로 줄일 필요가 있는듯한데 확인 부탁드립니다
                    => 
                - 초기화면(index.html)에 컨텐츠 들어가는 칸에 margin, padding이 적용 덜?된 것 같은 느낌인데 확인 부탁드려요
                    => 03-30 body전체에 padding을 주어 해결했습니다.
            (백)
                - 이미지 넣기 적용
                - 시간 정보 다듬어서 보내주기

                
    2021-03-31
        < 구현 할 것 >
            - 책 등록      <- (작업중)
            - 책 등록 하고 자기가 등록한 책 화면창 띄우게 하기 <- (완료)
            - 찜 하기 기능 추가
            - 책 등록 할 때 나머지 정보 입력 <- (프론트에서 체크박스로 해서 오면 작업하기)

        < 수정한 것 >
            - 비밀번호 바꿀 때 원래는 닉네임 가지고 인증을 했는데 카카오톡이랑 구글 로그인 연동 후 닉네임으로는 한계가 있다고 생각해서 이메일로 인증하는 시스템으로 바꿈
            - 비밀번호 변경시 

        < 추가한 것 >
            - 파일 업로드 기능
            - 파일을 업로드 하면 그 파일들은 uploads폴더에 넣어준다. ( 따로 uploads폴더를 만들 필요 없이 만약에 로컬에 폴더가 없으면 만들어주는 기능까지 추가)

        < 조치 필요 사항 >
            (공통)
                - 메인화면을 구상해야함
                - 책 등록 하면 어떤식으로 등록이 되어야 결정해야함
                - 사용흔적 넣을지 말지 결정해야함
                
            (프론트)
                - saleDetail에 이미지부분 width를 줄이는게 좋을 것 같습니다.
                - 그리고 이미지를 여러개 넣을 수 있게끔 만들어야 겠습니다.
                - 등록이 된 책들이 메인화면에 보기좋게 띄어져야 할 것 같습니다. (메인화면 구상할 때 팀원들이랑 협상 후 결정해도 좋을듯합니다)
                - registerBook.html 디자인
                
            (백)
                - 이미지 넣기 적용
                - 시간 정보 다듬어서 보내주기
                   => timestamp 만지면 될 듯


    2021-04-01
        < 구현 할 것 >
            - 책 등록      <- (작업중)
            - 찜 하기 기능 추가
            - 책 등록 할 때 나머지 정보 입력 <- (프론트에서 체크박스로 해서 오면 작업하기)

        < 수정한 것 >

        < 추가한 것 >

        < 조치 필요 사항 >
            (공통)
                - 메인화면을 구상해야함
                - 책 등록 하면 어떤식으로 등록이 되어야 할지 결정해야함
                - 사용흔적 넣을지 말지 결정해야함 <- (해결)
                
            (프론트)
                - saleDetail에 이미지부분 width를 줄이는게 좋을 것 같습니다.  <- (완료)
                - 그리고 이미지를 여러개 넣을 수 있게끔 만들어야 겠습니다.
                - 등록이 된 책들이 메인화면에 보기좋게 띄어져야 할 것 같습니다. (메인화면 구상할 때 팀원들이랑 협상 후 결정해도 좋을듯합니다)
                - registerBook.html 디자인  <- (완료)
                
            (백)
                - 이미지 넣기 적용  <- (완료)
                - 시간 정보 다듬어서 보내주기
                   => timestamp 만지면 될 듯


    2021-04-02
        < 구현 할 것 >
            - 책 등록      <- (완료)
            - 찜 하기 기능 추가     <- (완료)
            - 검색기능 구현         <- (작업중)

        < 수정한 것 >
            - whobot 테이블 -> who 테이블
            - 각 테이블에 요소 추가
            - 로그인 되어 있는데 topNav에 "관심상품" 두 개 떠 있는거 수정
            - saleDetail에 들어가면 topNav에 로그인표시가 안되어 있어서 고침
            - likecount 안되는거 고침

        < 추가한 것 >
            - routes/index.js에 라우터 추가
            - who table (찜 시스템 도입 위함) 
            - 찜 하기 시스템 (한번 더 누르면 찜 해제됨)
            - 찜 하면 관심상품에 등록됨. 관심상품에 들어가면 찜 한 목록들 나오고 "구경하러가기" 누르면 해당 책 정보 나옴
            - 책 등록 할 때 나머지 정보 프론트로 보내주기
            - registerBook.html 디자인
            - saleDetail에 이미지부분 width를 줄이기
            
        < 조치 필요 사항 >
            (공통)
                - 메인화면을 구상해야함  <- (해결, 피피티 참고)
                - 책 등록 하면 어떤식으로 등록이 되어야 할지 결정해야함  <- (해결)
                - 사용흔적 넣을지 말지 결정해야함 <- (해결)
                
            (프론트)
                - 그리고 이미지를 여러개 넣을 수 있게끔 만들어야 겠습니다.
                - 등록이 된 책들이 메인화면에 보기좋게 띄어져야 할 것 같습니다. (메인화면 구상할 때 팀원들이랑 협상 후 결정해도 좋을듯합니다)
                - saleDetail.html에 "찜 하기" 버튼 디자인 필요
                - 관심상품 디자인 필요
                - 검색 디자인 필요
                - 메인화면 디자인 필요

            (백)
                - 시간 정보 다듬어서 보내주기
                    => timestamp 만지면 될 듯
                - 회원가입 후 로그인으로 가기
                    => 완료
                - 찜 하기 클릭 한번하면 관심상품에 추가되고 likecount + 1되는거 추가하였으나, 다시 한번 누르면 취소 되는거 추가 해야함. 
                    => 완료



        
    2021-04-03
        < 구현 할 것 >
            - 책 등록               <- (완료)
            - 찜 하기 기능 추가       <- (완료)
            - 검색기능 구현          <- (완료)
            - 댓글 기능(댓글달기, 수정, 삭제) 구현        <- (완료)
            - 슬라이드에 적용 될 liked top 5 책 구현 해 놓음  <- (팀원들과 상의 후 적절한 위치에 적용 예정)

        < 수정한 것 >

        < 추가한 것 >
            - 검색기능 추가
            - 댓글 기능 추가 ( 로그인 되어 있으면 작성할 수 있는 textarea, 등록 나오고 || 비로그인시 그 게시물에 달린 댓글만 나옴 )
            - 댓글기능 추가하기 위해서 models/post.js 추가함 (터미널에 npx sequelize db:create로 테이블 업데이트 하세요 => 만약 이거 안되면 삭제하고 npm start 해야함)
            - 팝니다 추가해놓음

        < 조치 필요 사항 >
            (공통)
                - saleDetail에 댓글을 로그인 되었을 때만 나타낼까 로그인 안되어 있어도 나타낼까 고민

            (프론트)
                - 그리고 이미지를 여러개 넣을 수 있게끔 만들어야겠습니다.    <-(잠시만 보류 해주세요)
                - 등록이 된 책들이 메인화면에 보기좋게 띄어져야 할 것 같습니다. (메인화면 구상할 때 팀원들이랑 협상 후 결정해도 좋을듯합니다)
                - saleDetail.html에 "찜 하기" 버튼 디자인 필요
                - 관심상품 디자인 필요
                - 메인화면 디자인 필요
                - 검색 디자인 필요   <-(완료)
                - 슬라이드 배너 추가   <-(완료)
                - 책 이미지 모서리에 선이 없습니다.
                - 댓글 달면 닉네임 / 댓글 내용 추가 필요합니다. 그리고 수정, 삭제 하는 디자인 필요합니다.
                - 검색 하고 검색 결과 나온 후에는 검색하기 버튼에 돋보기가 not found 됩니다.

            (백)
                - 시간 정보 다듬어서 보내주기
                    => timestamp 만지면 될 듯
                - 회원가입 후 로그인으로 가기
                    => 완료
                - 찜 하기 클릭 한번하면 관심상품에 추가되고 likecount + 1되는거 추가하였으나, 다시 한번 누르면 취소 되는거 추가 해야함. 
                    => 완료
                - 댓글달기 기능 구현을 위해 스키마 수정 필요   <- (완료)



    
    2021-04-04
        < 구현 할 것 >
            - 팝니다, 삽니다 구분하기 위해 table <- (완료)
            - 선택 검색 기능 구현  <- (완료)
            - 판매 내역 만들기          <- 프론트 될 때 까지 보류
            - 판매 내역 만들 때 table 수정 필요 (게시물 수정, 삭제)     <- 프론트 될 때 까지 보류
            - 판매 내역에서 게시물 수정, 삭제 가능      <- 프론트 될 때 까지 보류
            - 해쉬태그 구현

        < 수정한 것 >
            - (Back) index.html에 관심상품 Nav가 로그아웃 뒤에 있어서 앞으로 오게 하는게 깔끔해 보여서 옮겼습니다.
            - (Back) "삽니다"를 누르면 saleBoard.html가 뜨게 해 놓음.

        < 추가한 것 >
            - 추가된 댓글을 삭제하는 기능, 수정하는 기능
            - 카테고리별로 하는 검색 기능

        < 조치 필요 사항 >
            (공통)
                - 슬라이드에 적용될 것들
                - 마이페이지 안에 장바구니 안넣어도 될 것 같은데 팀원들 의견 필요. => 찜 한 내역으로 대체 가능하기 때문
                - 판매중인 책, 구매중인 책 구분할건지 아니면 default페이지로 판매중인 페이지를 띄울지 상의해야함
                
            (프론트)
                - 그리고 이미지를 여러개 넣을 수 있게끔 만들어야겠습니다.
                - saleDetail.html에 "찜 하기" 버튼 디자인 필요 (해결)
                - 관심상품 디자인 필요 (해결)
                - 책 이미지 모서리에 선이 없습니다. (해결)
                - 댓글 달면 닉네임 / 댓글 내용 추가 필요합니다. 그리고 수정, 삭제 하는 디자인 필요합니다. (해결)
                - 검색 하고 검색 결과 나온 후에는 검색하기 버튼에 돋보기(이미지)가 not found 됩니다. (해결)
                - 등록된 책들의 타이틀이랑 가격이 중간장렬 돼면 좋겠습니다.

            (백)
                - 시간 정보 다듬어서 보내주기
                    => timestamp 만지면 될 듯

(반대로)
-->
