<!doctype html>
<html lang="en">
<!-- 
  assets : 부트스트랩 파일
  view : html, js

  미구현(추후 추가 예정)
  - 비밀번호 확인 구현
  - 핸드폰 양식에 맞춰 '-' 넣는 기능 구현

  public의 경로가 백엔드 및 프론트엔드와 표현방식이 다름
 -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/css/style.css">
    <title>도서로</title>
</head>

<body>
    <div class="container-sm">
        <!-- 상단 바 -->
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light" id="topNav"></nav>
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light" id="topNav">
            <div class="container-fluid">
              <a class="navbar-brand" href="/"><img src="/img/logo3.png" width="200" height="80"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-sm-end" id="navbarCollapse">
                <ul class="navbar-nav mb-2 mb-md-0">
                  <li class="nav-item">
                    <a class="nav-link p-3" href="#">고객문의</a>
                  </li>
                  {% if user and user.id %}
                  <li class="nav-item">
                    <a class="nav-link p-3">안녕하세요 {{user.nick}}님</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link p-3" href="#">마이페이지</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link p-3" href="#">관심상품</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link p-3" href="/auth/logout">로그아웃</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link p-3" href="/login">로그인</a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
        </nav>
        <div class="container-sm">
            컨텐츠 영역
        </div>
    </div>
    
    <script src="/js/topNav.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>