<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/loginStyle.css">
    
    <title>로그인</title>
</head>

<body>
    <div class="container-sm">
        <!-- 상단 바 -->
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light" id="topNav"></nav>

        <!-- 로그인 영역 -->
        <main class="form-signin">
            <form id="login-form">
                <div class="loginLogo">
                    <img class="" src="/img/logo3.png" width="250px" height="100px">
                    <h1 class="h3 mt-3 mb-3">Login</h1>
                </div>
                <input type="email" name="email" class="form-control" placeholder="이메일" required autofocus>
                <input type="password" name="password" class="form-control" placeholder="비밀번호" required>
                <ul class="row">
                    <li class="col">
                        <a class="" href="/signup">회원가입</a>
                    </li>
                    <li class="col">
                        <a class="" href="#">아이디 찾기</a>
                    </li>
                    <li class="col">
                        <a class="" href="#">비밀번호 찾기</a>
                    </li>
                </ul>
                <button class="btn btn-lg btn-primary w-100" id="login" type="submit">로그인</button>
                <a id="kakao" href="/auth/kakao" class="btn">카카오톡</a>
            </form>
        </main>
    </div>
    <script src="/js/login-cli.js"></script>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/topNav.js"></script>
  </body>

</html>