<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">
    <title>도서로</title>
</head>

<body style="padding-top: 2rem;" onresize="parent.resizeTo(950,1000)" onload="parent.resizeTo(950,1000)">
    <!-- 사용법 -->
    <h1 class="h1 text-center fw-bold">도서로 사용법</h1>
    <div class="container guideInner">
        <!-- 주의사항 -->
        <div class="mt-4 mb-4">
            <ul class="mannerInner">
                <li><h1 class="h3">이용수칙</h1></li>
                <li>대화는 존댓말로 서로를 존중해주세요</li>
                <li>시간 약속을 꼭 지켜주세요</li>
                <li>어떤 상황에서도 욕설, 비방, 명예훼손 등의 언행은 지양해 주세요</li>
                <li>사기 예방을 위해 사전에 꼭 충분한 대화 후 거래하세요</li>
                <!-- <img src="/img/guidetalk.png" width="200px"> -->
            </ul>
        </div>

        <ul>
            <li class="StepList">
                <div><h3 class="h3">Step1</h3><p>회원가입을 해주세요</p></div>
                <a class="imgInner"><img src="/img/step01.PNG" height="400px"></a>
            </li>
            <li class="StepList">
                <div><h3 class="h3">Step2</h3><p>마이페이지에서 위치 등록을 해주세요</p></div>
                <a class="imgInner"><img src="/img/step02.PNG" height="400px"></a>
            </li>
            <li class="StepList">
                <div><h3 class="h3">Step3</h3><p>거래하고 싶은 카테고리에서 글을 작성하세요</p></div>
                <a class="imgInner"><img src="/img/step03-5.PNG" height="600px"></a>
            </li>
            <li class="StepList">
                <div><h3 class="h3">Step4</h3><p>상대방과 거래를 끝낸 후 글 작성자는 '거래완료' 버튼을 눌러주세요</p></div>
                <a class="imgInner"><img src="/img/step03.PNG" height="220px"></a>
            </li>
            <li class="StepList">
                <div><h3 class="h3">Step5</h3><p>거래 목록은 마에페이지->'거래내역'에서 확인 가능합니다</p></div>
                <a class="imgInner"><img src="/img/step04.PNG" height="300px"></a>
            </li>
        </ul>

        <!-- 이미지 저작권 -->
        <!-- <div>
            <a>저작권</a>
            <a href="https://kr.pikbest.com">무료  일러스트 부터 kr.pikbest.com</a>
        </div> -->

    </div> 
</body>

</html>