<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">
    <title>도서로</title>
</head>

<body style="padding-top: 0;">
    <h1 class="h1">도서로 이용 가이드</h1>
    
    <!-- 사용법 -->
    <div>
        <ul>
            <li class="StepList">
                <h1 class="h3">Step1</h1>
                <a><img src="/img/step01.PNG" width="" height="280px"></a>
                <p>회원가입을 해주세요</p>
            </li>
            <li class="StepList">
                <h1 class="h3">Step2</h1>
                <a><img src="/img/step02.PNG" width="" height="280px"></a>
                <p>마이페이지에서 위치 등록을 해주세요</p>
            </li>
            <li class="StepList">
                <h1 class="h3">Step3</h1>
                <a><img src="/img/step03-5.PNG" width="" height="280px"></a>
                <p>거래하고 싶은 카테고리에서 글을 작성하세요</p>
            </li>
            <li class="StepList">
                <h1 class="h3">Step4</h1>
                <a><img src="/img/step03.PNG" width="" height="280px"></a>
                <p>상대방과 거래를 끝낸 후 '거래완료' 버튼을 눌러주세요</p>
            </li>
            <li class="StepList">
                <h1 class="h3">Step5</h1>
                <a><img src="/img/step04.PNG" width="" height="280px"></a>
                <p>거래 목록은 마에페이지->'거래내역'에서 확인 가능합니다</p>
            </li>
        </ul>
    </div>
    
    <!-- 주의사항 -->
    <div class="mt-4">
        <ul class="text-start">
            <li>대화는 존댓말로 서로를 존중해주세요</li>
            <li>시간 약속을 꼭 지켜주세요</li>
            <li>어떤 상황에서도 욕설, 비방, 명예훼손 등의 언행은 지양해 주세요</li>
            <li>사기 예방을 위해 사전에 꼭 충분한 대화 후 거래하세요</li>
        </ul>
    </div>
    
</body>

</html>