<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>내 정보</title>
</head>

<body>
    <div class="flex w-100">
        <!-- top -->
        <nav class="navbar fixed-top navbar-expand-md navbar-light bg-white" id="topNav">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="/img/logo3.png" width="160" height="64"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse justify-content-sm-end" id="navbarCollapse">
                    <ul class="navbar-nav mb-2 mb-md-0">
                        {% if user and user.id %}
                        <li class="nav-item"><a class="nav-link p-3">안녕하세요 {{user.nick}}님</a></li>
                        <li class="nav-item"><a class="nav-link p-3" href="/mypage">마이페이지</a></li>
                        <li class="nav-item"><a class="nav-link p-3" href="/pages/like">관심상품</a></li>
                        <li class="nav-item"><a class="nav-link p-3" href="/auth/logout">로그아웃</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link p-3" href="#">관심상품</a></li>
                        <li class="nav-item"><a class="nav-link p-3" href="/login">로그인</a></li>{% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <!-- 마이페이지 -->
        <main class="myPage min-vh-100 container-sm border p-5">
            <div class="profile d-flex flex-wrap align-items-center pb-5">
                <!-- 프로필 이미지 추가 여부 논의 필요 -->
                <img src="/img/profileImg.png" class="rounded-circle w-25" alt="profile">
                <div class="ms-5">
                    <h1 class="h3 fw-bold">{{user.nick}}</h1>
                </div>
            </div>

            <div class="selectPosting text-center d-flex flex-wrap justify-content-center">
                
                <!-- 클릭시 새로운 페이지로 이동 방식 -->
                <!-- <a href="/pages/selling">판매글</a>
                <a  href="/pages/buying">구매글</a> -->

                <!-- 이 페이지에 전부 표시하는 방식 -->
                <a onclick="showSale()">판매글</a>
                <a onclick="showRequset()">구매글</a>
                <a onclick="showDonate()">무료나눔</a>
                <a onclick="showCommunity()">커뮤니티</a>
            </div>

            <!-- 판매글 목록 -->
            <div id="salePosting" class="mb-3 mt-3">
                <h1 class="h4 fw-bold">판매글</h1>

                <!-- 게시물 불러오는 위치 -->
                <div class="likeList w-100 mt-3 mb-3 border d-flex flex-wrap" onclick="location.href='/book/{{book.id}}'">
                    <img src="/img/{{book.img}}" class="" width="150px" height="200px">
                    
                    <div class="d-flex w-75 justify-content-between mt-2">
                        <div class="ms-sm-4 w-100">
                            <h1 class="postTitle h2 m-1 fw-bold mb-3">ㅁㄴㅇㅁㄴㅇasdasdasdasdasdasㅁㅇ{{book.title}}</h1>
                            <h4 class="h5 m-1 mb-2">가격: {{book.price}} 원</h4>
                            <h4 class="h5 m-1 mb-2">카테고리: {{book.category}}</h4>
                            <h4 class="h5 m-1 mb-2">거래 방법: {{book.tradingmethod}}</h4>
                        </div>
                        <div>
                            <form id="item-ED-form-{{book.id}}">
                                <input type="hidden" id="delete_it-{{book.id}}" name="this_item_id" value="{{book.id}}">
                                <input type="hidden" id="delete_it-{{book.id}}" name="this_item_OwnerId" value="{{book.OwnerId}}">
                                <input type="hidden" id="delete_it-{{book.id}}" name="this_item_createdAt" value="{{book.createdAt}}">
                                <div class="dropdown">
                                    <a class="btn" href="#" data-bs-toggle="dropdown"
                                        aria-expanded="true">⁝</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdown1">
                                        <li><button id="item-edit-btn-{{book.id}}" class="dropdown-item"
                                                role="menuitem" tabindex="-1" type="submit" class="btn"
                                                onclick="item_edit('{{book.id}}')">수정</button></li>
                                        <li><button id="item-delete-btn-{{book.id}}" class="dropdown-item"
                                                role="menuitem" tabindex="-1" type="submit" class="btn"
                                                onclick="item_delete('{{book.id}}')">삭제</button></li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>

            <!-- 구매글 목록 -->
            <div id="requestPosting" class="mb-3 mt-3" style="display: none;">
                <h1 class="h4 fw-bold">구매글</h1>

                    <!-- 게시물 불러오는 위치 -->
                    <div class="likeList w-100 mt-3 mb-3 border d-flex flex-wrap" onclick="location.href='/wannabuy/buybook/{{book.id}}'">
                        <div class="pb-3 border-bottom w-100">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                
                                <div class="w-50">
                                    <h1 class="postTitle h3 fw-bold">게시물제목asdasdasdasdasd{{book.postmessage}}</h1>
                                    <!-- <a class="text-decoration-none text-dark">{{createdAt}}</a> -->
                                </div>

                                <div>
                                    <form id="item-ED-form-{{book.id}}">
                                        <input type="hidden" id="delete_it-{{book.id}}" name="this_item_id" value="{{book.id}}">
                                        <input type="hidden" id="delete_it-{{book.id}}" name="this_item_OwnerId" value="{{book.OwnerId}}">
                                        <input type="hidden" id="delete_it-{{book.id}}" name="this_item_createdAt" value="{{book.createdAt}}">
                                        <div class="dropdown">
                                            <a class="btn" href="#" data-bs-toggle="dropdown"
                                                aria-expanded="true">⁝</a>
                                            <ul class="dropdown-menu" aria-labelledby="dropdown1">
                                                <li><button id="item-edit-btn-{{book.id}}" class="dropdown-item"
                                                        role="menuitem" tabindex="-1" type="submit" class="btn"
                                                        onclick="item_edit('{{book.id}}')">수정</button></li>
                                                <li><button id="item-delete-btn-{{book.id}}" class="dropdown-item"
                                                        role="menuitem" tabindex="-1" type="submit" class="btn"
                                                        onclick="item_delete('{{book.id}}')">삭제</button></li>
                                            </ul>
                                        </div>
                                    </form>
                                </div>
                                
                            </div>
                            
                            <p class="mt-3">게시물 작성일</p>
                        </div>
                        <p class="postingBody pt-3">내용ㅁㄴㅇㅁㄴㅇㅁㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇ{{book.about}}</p>
                    </div>
            </div>

            <!-- 나눔글 목록 -->
            <div id="donatePosting" class="mb-3 mt-3" style="display: none;">
                <h1 class="h4 fw-bold">나눔글</h1>

                <!-- 게시물 불러오는 위치 -->
                <div class="likeList w-100 mt-3 mb-3 border d-flex flex-wrap" onclick="location.href='/book/{{book.id}}'">
                    <img src="/img/{{book.img}}" class="" width="150px" height="200px">
                    
                    <div class="d-flex w-75 justify-content-between mt-2">
                        <div class="ms-sm-4">
                            <h1 class="h2 m-1 fw-bold mb-3">{{book.title}}</h1>
                            <h4 class="h5 m-1 mb-2">가격: {{book.price}} 원</h4>
                            <h4 class="h5 m-1 mb-2">카테고리: {{book.category}}</h4>
                            <h4 class="h5 m-1 mb-2">거래 방법: {{book.tradingmethod}}</h4>
                        </div>
                        <div>
                            <form id="item-ED-form-{{book.id}}">
                                <input type="hidden" id="delete_it-{{book.id}}" name="this_item_id" value="{{book.id}}">
                                <input type="hidden" id="delete_it-{{book.id}}" name="this_item_OwnerId" value="{{book.OwnerId}}">
                                <input type="hidden" id="delete_it-{{book.id}}" name="this_item_createdAt" value="{{book.createdAt}}">
                                <div class="dropdown">
                                    <a class="btn" href="#" data-bs-toggle="dropdown"
                                        aria-expanded="true">⁝</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdown1">
                                        <li><button id="item-edit-btn-{{book.id}}" class="dropdown-item"
                                                role="menuitem" tabindex="-1" type="submit" class="btn"
                                                onclick="item_edit('{{book.id}}')">수정</button></li>
                                        <li><button id="item-delete-btn-{{book.id}}" class="dropdown-item"
                                                role="menuitem" tabindex="-1" type="submit" class="btn"
                                                onclick="item_delete('{{book.id}}')">삭제</button></li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <!-- 커뮤니티 -->
            <div id="communityPosting" class="mb-3 mt-3" style="display: none;">
                <h1 class="h4 fw-bold">커뮤니티</h1>
                    <!-- 게시물 불러오는 위치 -->
                    <div class="likeList w-100 mt-3 mb-3 border d-flex flex-wrap" onclick="location.href='/wannabuy/buybook/{{book.id}}'">
                        <div class="pb-3 border-bottom w-100">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                
                                <div class="w-50">
                                    <h1 class="postTitle h3 fw-bold">커뮤니티게시물제목{{book.postmessage}}</h1>
                                    <!-- <a class="text-decoration-none text-dark">{{createdAt}}</a> -->
                                </div>

                                <div>
                                    <form id="item-ED-form-{{book.id}}">
                                        <input type="hidden" id="delete_it-{{book.id}}" name="this_item_id" value="{{book.id}}">
                                        <input type="hidden" id="delete_it-{{book.id}}" name="this_item_OwnerId" value="{{book.OwnerId}}">
                                        <input type="hidden" id="delete_it-{{book.id}}" name="this_item_createdAt" value="{{book.createdAt}}">
                                        <div class="dropdown">
                                            <a class="btn" href="#" data-bs-toggle="dropdown"
                                                aria-expanded="true">⁝</a>
                                            <ul class="dropdown-menu" aria-labelledby="dropdown1">
                                                <li><button id="item-edit-btn-{{book.id}}" class="dropdown-item"
                                                        role="menuitem" tabindex="-1" type="submit" class="btn"
                                                        onclick="item_edit('{{book.id}}')">수정</button></li>
                                                <li><button id="item-delete-btn-{{book.id}}" class="dropdown-item"
                                                        role="menuitem" tabindex="-1" type="submit" class="btn"
                                                        onclick="item_delete('{{book.id}}')">삭제</button></li>
                                            </ul>
                                        </div>
                                    </form>
                                </div>
                                
                            </div>
                            
                            <p class="mt-3">게시물 작성일</p>
                        </div>
                        <p class="postingBody pt-3">내용ㅁㄴㅇ{{book.about}}</p>
                    </div>

            </div>
        </main>

        <!-- footer -->
        <nav class="navbar navbar-expand-md bg-dark border-1" id="footerNav"></nav>
    </div>

    <script src="/js/changePostingHistory.js"></script>
    <script src="/js/topNav.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>