<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/css/style.css">
    
    <title>판매 게시판</title>
</head>

<body>
  <div class="flex w-100">
    <!-- 상단 바 -->
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-white ps-3 pe-3" id="topNav">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/img/logo3.png" width="160" height="64"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse justify-content-sm-end align-items-center" id="navbarCollapse">
          <ul class="navbar-nav mb-md-0">
            {% if user and user.id %}
            <li class="nav-item"><a class="nav-link p-3">안녕하세요 {{user.nick}}님</a></li>
            <li class="nav-item"><a class="nav-link p-3" href="/mypage">마이페이지</a></li>
            <li class="nav-item"><a class="nav-link p-3" href="/pages/like">관심상품</a></li>
            <li class="nav-item"><a class="nav-link p-3" href="/auth/logout">로그아웃</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link p-3" href="/">관심상품</a></li>
            <li class="nav-item"><a class="nav-link p-3" href="/login">로그인</a></li>{% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- main -->
    <main class="container-sm mt-0 mb-0 min-vh-100">
      <!-- 검색 기능 -->
      <form id="search-form" action="/search/{{searchWord}}" class="searchForm d-flex container pt-2">
        <select class="form-select w-25" name="searchFilter">
          <option value>전체</option>
          <option value="postTitle">게시물</option>
          <option value="bookTitle">책</option>
          <option value="bookAuther">저자</option>
          <option value="bookPublisher">출판사</option>
        </select>
        <input type="text" class="form-control ps-3" id="book-publisher" name="searchWord" placeholder="검색">
        <button class="btn btn-primary" type="submit"><img src="/img/pngegg.png" width="35" height="25"
            class="mt-1"></button>
      </form>

      <!-- 메뉴이동 -->
      <div class="menuForm container mt-2 mb-2 justify-content-center d-flex" role="group">
        <div class="ms-1 me-1"><button type="button" class="btn fw-bold" onclick="location.href='/pages/saleBoard'">팝니다</button></div>
        <div class="ms-1 me-1"><button type="button" class="btn fw-bold">삽니다</button></div>
        <div class="ms-1 me-1"><button type="button" class="btn fw-bold">무료나눔</button></div>
        <div class="ms-1 me-1"><button type="button" class="btn fw-bold">커뮤니티</button></div>
      </div>

      <!-- 판매리스트 -->
      <div class="saleList pt-5 mt-5 border-top">
        <h1 class="h2 fw-bold">판매중인 책</h1><br>
        <form id="book-form"><a href="/pages/regi-book"class="addBook text-decoration-none btn-primary p-2">상품 등록</a></form>

        <div class="d-flex justify-content-center flex-wrap mt-5">
          {% for book in books %}
          <div class="saleCard card m-sm-5 mt-4 m-2" style="max-width: 210px;" onclick="location.href='/book/{{book.id}}'">
            <img src="/img/{{book.img}}" class="card-img-top" width="100%" height="280px">
            <div class="card-body text-center">
              <p class="postTitle card-title fw-bold mb-3">{{book.postmessage}}</p>
              <p>{{book.price}} 원</p>
              <!-- <a href="/book/{{book.id}}" class="enter btn-primary ms-5 p-2 text-decoration-none">자세히</a> -->
            </div>
          </div>
          {% endfor %}
        </div>

        <!-- 검색결과 -->
        <div class="searchResult mt-5">
          <p class="h4 fw-bold">검색 결과</p>
          <div class="d-flex justify-content-center flex-wrap">
            {% for foundBook in foundBooks %}
            <div class="saleCard card m-sm-5 mt-4 m-2" style="max-width: 210px;" onclick="location.href='/book/{{book.id}}'">
              <img src="/img/{{foundBook.img}}" class="card-img-top" width="100%" height="280px">
              <div class="card-body">
                <p class="postTitle card-title fw-bold mb-3">{{foundBook.postmessage}}</p>
                <a>{{foundBook.price}} 원</a>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>

      </div>
    </main>

    <!-- footer -->
    <nav class="navbar navbar-expand-md bg-dark border-1" id="footerNav"></nav>
  </div>
  <script>
    function one() {
      const request = document.getElementById('search-form');
      request.setAttribute('action', '/search{{searchWord}}');
      request.setAttribute('method', 'GET');
    }
  </script>
  <!-- <script src="/js/searchDisplay.js"></script> -->
  <script src="/js/topNav.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>