<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/loginStyle.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/loginStyle.css">
    
    <title>판매 게시판</title>
</head>

<body>
    <div class="container-sm">
        <!-- 상단 바 -->
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light" id="topNav"></nav>
    
    </div>
    <script src="/js/login-cli.js"></script>

    <script src="/js/bootstrap.bundle.min.js"></script> 
    <script src="../public/js/bootstrap.bundle.min.js"></script>

    <script src="/js/topNav.js"></script>
    <script src="../public/js/topNav.js"></script>
</body>

</html>