<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/css/style.css">
    
    <title>판매 게시판</title>
</head>

<body>
  <div class="flex w-100">
    <!-- 상단 바 -->
    {% include "topNavbar.html" %}

    <!-- main -->
    <main class="container-sm mt-0 mb-0 min-vh-100 pt-5">
      <!-- 검색, 메뉴이동 기능 -->
      {% include "searchBox.html" %}

      <!-- 판매리스트 -->
      <div class="saleList pt-5 mt-5 border-top">
        <h1 class="h2 fw-bold">판매중인 책</h1><br>
        <form id="book-form"><a href="/pages/regi-book"class="addBook text-decoration-none btn-primary p-2">상품 등록</a></form>

        <div class="d-flex justify-content-center flex-wrap mt-5">
          {% for book in books | reverse %}
          {% if book.price > 0 %}
          <div class="saleCard card m-sm-5 mt-4 m-2" style="max-width: 210px;" onclick="location.href='/book/{{book.id}}'">
            <img src="/img/{{book.img}}" class="card-img-top" width="100%" height="280px">
            <div class="card-body text-center">
              <p class="postTitle card-title fw-bold mb-3">{{book.postmessage}}</p>
              <p>{{book.price}} 원</p>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>

      </div>
    </main>

    <!-- footer -->
    <nav class="navbar navbar-expand-md bg-dark border-1" id="footerNav"></nav>
  </div>
  <script>
    function one() {
      const request = document.getElementById('search-form');
      request.setAttribute('action', '/search{{searchWord}}');
      request.setAttribute('method', 'GET');
    }
  </script>
  <!-- <script src="/js/searchDisplay.js"></script> -->
  <script src="/js/topNav.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>