<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">

    <!-- <title>판매 디테일</title> -->
    <title>{{title}}</title>
</head>

<body>
    <div class="flex w-100">
        <!-- 상단 바 -->
        <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light" id="topNav">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="/img/logo3.png" width="160" height="64"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse justify-content-sm-end" id="navbarCollapse">
                    <ul class="navbar-nav mb-2 mb-md-0">
                        {% if users and users.id %}
                        <li class="nav-item"><a class="nav-link p-3">안녕하세요 {{users.nick}}님</a></li>
                        <li class="nav-item"><a class="nav-link p-3" href="/mypage">마이페이지</a></li>
                        <li class="nav-item"><a class="nav-link p-3" href="/like">관심상품</a></li>
                        <li class="nav-item"><a class="nav-link p-3" href="/auth/logout">로그아웃</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link p-3" href="#">관심상품</a></li>
                        <li class="nav-item"><a class="nav-link p-3" href="/login">로그인</a></li>{% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <!-- 컨텐츠 -->
        <main class="saleDetail border container-sm overflow-hidden mt-0 mb-0 min-vh-100 pt-3 pb-5">
            <div class="w-75 ms-auto me-auto">
                <!-- 제목 -->
                <div class="d-lg-flex align-items-center w-100 pb-2 mb-4 border-bottom">
                    <h1 class="h2 w-50 text-decoration-none fw-bold" id="getPostingTitle">{{book.postmessage}}</h1>
                    <!-- 등록 시간을 DB에서 받아와 YMD 형석으로 바꿀 JS코드 필요 => 해결 -->
                    <a class="me-0 w-50 text-decoration-none text-end text-dark"
                        id="getPostingDate">{{book.createdAt}}</a>
                </div>

                <!-- 책 정보 -->
                <div class="wrapBookInfo d-lg-flex align-items-center ">
                    <div class="bookImg mb-3">
                        <a href="#" class=""><img class="" src="/img/{{book.img}}" style="border-radius:21px"
                                width="320px" height="400px"></a>
                    </div>
                    <div class="bookInfo w-75 me-0 ms-sm-5">
                        <div class="d-flex mb-3">
                            <div class="saleCheck border-0 p-2 me-4" style="border-radius: 10px">
                                <a class="h5 text-decoration-none fw-bold">판매</a>
                            </div>
                            <!-- 찜 하기 -->
                            <form id="book_like-form">
                                <div class="saleCheck border-0 p-2 me-4" style="border-radius: 10px">
                                    <!-- 책 올린 사람 찾기 위함 -->
                                    <input type="hidden" name="createdat" value="{{book.createdAt}}">
                                    <!-- OwnerId -->
                                    <input type="hidden" name="user" value="{{user}}">  
                                    <!-- BookId -->
                                    <input type="hidden" name="bookId" value="{{bookId}}">  
                                    <input type="hidden" name="postmessage" value="{{book.postmessage}}">
                                    <input type="hidden" name="title" value="{{book.title}}">
                                    <input type="hidden" name="price" value="{{book.price}}">
                                    <button class="btn btn-lg btn-primary w-100" class="btn" type="submit"
                                        onclick="one()">찜 하기</button>
                                </div>
                            </form>
                            <!-- 좋아요 눌린 갯수 -->
                            <div class="saleCheck border-0 p-2 me-4" style="border-radius: 10px">
                                <a class="h5 text-decoration-none fw-bold">{{book.likecount}}</a>
                            </div>
                            <!-- 관심상품 버튼 -->
                            <!-- <div class="border-0 bg-white p-2">
                                <a class="h6 text-decoration-none text-dark"><img src="/img/like_a.png" width="15px" height="12px"></a>
                            </div> -->
                        </div>
                        <div class="bookTitle d-flex align-items-center mt-2 mb-2">
                            <h4 class="h4 fw-bold w-50">책 제목</h4>
                            <a class="text-body text-decoration-none" id="getBookTitle">{{book.title}}</a>
                        </div>
                        <div class="bookTitle d-flex align-items-center mt-2 mb-2">
                            <h4 class="h4 fw-bold w-50">가격</h4>
                            <a class="text-body text-decoration-none" id="getBookPrice">{{book.price}}원</a>
                        </div>
                        <div class="auther d-flex align-items-center mt-2 mb-2">
                            <h4 class="h4 fw-bold w-50">저자</h4>
                            <a class="text-body text-decoration-none" id="getAuther">{{book.author}}</a>
                        </div>
                        <div class="publisher d-flex align-items-center mt-2 mb-2">
                            <h4 class="h4 fw-bold w-50">출판사</h4>
                            <a class="text-body text-decoration-none" id="getPublisher">{{book.publisher}}</a>
                        </div>
                        <div class="category d-flex align-items-center mt-2 mb-2">
                            <h4 class="h4 fw-bold w-50">카테고리</h4>
                            <a class="text-body text-decoration-none" id="getCategory">{{book.category}}</a>
                        </div>
                        <div class="category d-flex align-items-center mt-2 mb-2">
                            <h4 class="h4 fw-bold w-50">외관손상</h4>
                            <a class="text-body text-decoration-none" id="getAppearanceInfo">{{book.state}}</a>
                        </div>
                        <div class="category d-flex align-items-center mt-2 mb-2">
                            <h4 class="h4 fw-bold w-50">거래방법</h4>
                            <a class="text-body text-decoration-none" id="getAppearanceInfo">{{book.tradingmethod}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 게시물 내용 -->
            <div class="mt-3 border-top w-75 ms-auto me-auto pt-4">
                <div class="mt-3"><a id="getPostingContents">{{book.about}}</a></div>
            </div>

        </main>

        <!-- footer -->
        <nav class="navbar navbar-expand-md bg-dark border-1" id="footerNav"></nav>
    </div>
    <script>
        function one() {
            const request = document.getElementById('book_like-form');
            request.setAttribute('action', '/like');
            request.setAttribute('method', 'POST');
        }
    </script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/topNav.js"></script>

</body>

</html>