<!-- 상단 바 -->
<nav class="navbar fixed-top navbar-expand-md navbar-light bg-white ps-3 pe-3" id="topNav">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/img/logo3.png" width="160" height="64"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse justify-content-sm-end" id="navbarCollapse">
            <ul class="navbar-nav mb-2 mb-md-0">
                <li class="nav-item"><a class="nav-link p-3" href="#">관심상품</a></li>
                {% if user and user.id %}
                <li class="nav-item"><a class="nav-link p-3">안녕하세요 {{user.nick}}님</a></li>
                <li class="nav-item"><a class="nav-link p-3" href="/chat">채팅</a></li>
                <li class="nav-item"><a class="nav-link p-3" href="/mypage">마이페이지</a></li>
                <li class="nav-item"><a class="nav-link p-3" href="#">관심상품</a></li>
                <li class="nav-item"><a class="nav-link p-3" href="/auth/logout">로그아웃</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link p-3" href="/login">로그인</a></li>{% endif %}
            </ul>
        </div>
    </div>
</nav>