<!-- 상단 바 / ~detail.html은 topNavbar2로 load하기-->
<nav class="navbar fixed-top navbar-expand-md navbar-light bg-white ps-3 pe-3" id="topNav">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/img/logo3.png" width="160" height="64"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse justify-content-sm-end" id="navbarCollapse">
            <ul class="navbar-nav mb-2 mb-md-0 notionBox">
                {% if user and user.id %}
                <li class="nav-item">
                    <a onclick="notionClick(true)" class="nav-link btn notionBtn"><img src="/img/notionF.png" width="23px" alt="notionImg"></a>
                    <div id="notionList" class="notionInner p-2">
                        <!-- 알림 테스트 -->
                        <ul class="m-2"><a class="notionBtn pt-1 pb-1 ps-2 pe-2" onclick="notionClick(false)">x</a></ul>
                        <!-- {% for notice in noticess %}
                        <ul>
                            {% if notice.commentingNick == null %}
                                <li class="nav-item"><a class="nav-link p-3" href="localhost:1000{{notice.thisURL}}">[대댓글] {{notice.reCommentNick}} 님이 대댓글을 달았습니다.</a></li>
                            {% elif notice.BookId == null %}
                                <li class="nav-item"><a class="nav-link p-3" href="localhost:1000{{notice.thisURL}}">[커뮤니티] {{notice.commentingNick}} 님이 댓글을 달았습니다.</a></li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link p-3" href="localhost:1000{{notice.thisURL}}">[댓글] {{notice.commentingNick}} 님이 댓글을 달았습니다.</a></li>
                            {% endif %}
                        </ul>
                        {% endfor %} -->

                        <!-- form을 적용시키고 각각의 코멘트에 이벤트리스너 추가해서 notification 라우터로 갈 수 있게 해야한다. -->

                        <!-- 알림 테스트 (배포용) -->
                        <!-- {% for notice in noticess %}
                        <ul>
                            {% if notice.commentingNick == null %}
                                <li class="nav-item"><a class="nav-link p-3" href="https://doseoro.taewoongjung.xyz{{notice.thisURL}}">[대댓글] {{notice.reCommentNick}} 님이 대댓글을 달았습니다.</a></li>
                            {% elif notice.BookId == null %}
                                <li class="nav-item"><a class="nav-link p-3" href="https://doseoro.taewoongjung.xyz{{notice.thisURL}}">[커뮤니티] {{notice.commentingNick}} 님이 댓글을 달았습니다.</a></li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link p-3" href="https://doseoro.taewoongjung.xyz{{notice.thisURL}}">[댓글] {{notice.commentingNick}} 님이 댓글을 달았습니다.</a></li>
                            {% endif %}
                        </ul>
                        {% endfor %} -->

                        {% for notice in noticess %}
                        <ul>
                            {% if notice.BookId == null %}
                                <form id="Commu-form-{{notice.id}}">
                                    <input type="hidden" name="community_Id" value="{{notice.id}}">

                                    <li class="nav-item"><a class="nav-link p-3" href="https://doseoro.taewoongjung.xyz{{notice.thisURL}}">[커뮤니티] {{notice.commentingNick}} 님이 댓글을 달았습니다.</a></li>
                                    <ul class="m-2"><button id="cancel" class="notionBtn pt-1 pb-1 ps-2 pe-2" type="submit" onclick="commu_noty_delete('{{notice.id}}')">x</button></ul>
                                </form>
                            {% elif notice.commentingNick == null %}
                                <form id="Without-Commu-form-{{notice.id}}">
                                    <input type="hidden" name="notCommunity_Id" value="{{notice.id}}">
                                    <li class="nav-item"><a class="nav-link p-3" href="https://doseoro.taewoongjung.xyz{{notice.thisURL}}">[대댓글] {{notice.reCommentNick}} 님이 대댓글을 달았습니다.</a></li>
                                    <ul class="m-2"><button id="cancel" class="notionBtn pt-1 pb-1 ps-2 pe-2" type="submit" onclick="noty_delete('{{notice.id}}')">x</button></ul>
                                </form>
                            {% else %}
                                <form id="Without2-Commu-form-{{notice.id}}">
                                    <input type="hidden" name="notCommunity_Id" value="{{notice.id}}">
                                    <li class="nav-item"><a class="nav-link p-3" href="https://doseoro.taewoongjung.xyz{{notice.thisURL}}">[댓글] {{notice.commentingNick}} 님이 댓글을 달았습니다.</a></li>
                                    <ul class="m-2"><button id="cancel" class="notionBtn pt-1 pb-1 ps-2 pe-2" type="submit" onclick="noty2_delete('{{notice.id}}')">x</button></ul>
                                </form>
                            {% endif %}
                        </ul>
                        {% endfor %}
                        {% for likenotice in likesfornotice %}
                            <form id="like-notice-form-{{likenotice.id}}">
                                <li class="nav-item"><a class="nav-link p-3" href="https://doseoro.taewoongjung.xy{likenotice.thisURL}}">[좋아요] {{likenotice.likedNick}} 님이 회원님의 게시물을 찜 했습니다.<a></li>
                                    <ul class="m-2"><button id="cancel" class="notionBtn pt-1 pb-1 ps-2 pe-2"type="submit"onclick="noty2_delete('{{notice.id}}, {{likenotice.id}}')">x<button></ul>
                            </form>
                        {% endfor %}
                        <!-- 알림 테스트 -->
                    </div>
                </li>

                <li class="nav-item"><a class="nav-link p-3">안녕하세요 {{user.nick}}님</a></li>
                <li class="nav-item"><a class="nav-link p-3" href="/pages/like">관심상품</a></li>
                <li class="nav-item"><a class="nav-link p-3" href="/mypage">마이페이지</a></li>
                <li class="nav-item"><a class="nav-link p-3" href="/auth/logout">로그아웃</a></li>
                
                {% else %}
                <li class="nav-item"><a class="nav-link p-3" href="/login">로그인</a></li>{% endif %}
            </ul>
        </div>
    </div>
    <script src="/js/notionEvent.js"></script>
    <script>
        function commu_noty_delete(id) {
            const request = document.getElementById(`Commu-form-${id}`);
            request.setAttribute('action', '/notification/onlyCommu');
            request.setAttribute('method', 'GET');
        }

        function noty_delete(id) {
            const request = document.getElementById(`Without-Commu-form-${id}`);
            request.setAttribute('action', '/notification/witoutCommu');
            request.setAttribute('method', 'GET');
        }

        function noty2_delete(id) {
            const request = document.getElementById(`Without2-Commu-form-${id}`);
            request.setAttribute('action', '/notification/witoutCommu');
            request.setAttribute('method', 'GET');
            notionClick(true);
        }
    </script>
</nav>