<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">
    <title>도서로 - 거래내역</title>
</head>

<body>
    <div class="flex w-100">
        <!-- 상단 바 -->
        {% include "topNavbar.html" %}
        
        <!-- main -->
        <main class="container-sm mt-0 mb-0 min-vh-100 border">
            <div class="p-5">
                <div class="btnInner text-center">
                    <p class="tadeBtn btn" onclick="showSoldBox()">판매 한 상품</p>
                    <p class="tadeBtn btn" onclick="showBoughtBox()">구매 한 상품</p>
                    <p class="tadeBtn btn" onclick="showSoldBuyBox()">[삽니다] 판매 한 상품</p>
                    <p class="tadeBtn btn" onclick="showBoughtBuyBox()">[삽니다] 구매 한 상품</p>
                </div>
                <div id="boughtBooksBox" class="tradeBoxInner mb-5">
                    <h1 class="h4 fw-bold">판매 한 상품</h1>
                    {% for book in boughtBooks | reverse %}
                    <div class="likeList w-100 mt-3 mb-3 border d-flex flex-wrap" onclick="location.href='/book/{{book.id}}'">
                        <img src="/img/{{book.img[0]}}" class="" width="150px" height="200px">
                        <div class="ms-4">
                            <h1 class="h3 m-1 mb-3  fw-bold">{{book.postmessage}}</h1>
                            {% if book.price == -1 %}    
                                <h4 class="h5 m-1">무료나눔</h4>
                            {% else %}
                                <h4 class="h5 m-1">{{book.price}} 원</h4>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div id="soldBooksBox" class="mb-5">
                    <h1 class="h4 fw-bold">구매 한 상품</h1>
                    {% for book in soldBooks | reverse %}
                    <div class="likeList w-100 mt-3 mb-3 border d-flex flex-wrap" onclick="location.href='/book/{{book.id}}'">
                        <img src="/img/{{book.img[0]}}" class="" width="150px" height="200px">
                        <div class="ms-4">
                            <h1 class="h2 m-1 mb-3  fw-bold">{{book.postmessage}}</h1>
                            {% if book.price == -1 %}    
                                <h4 class="h5 m-1">무료나눔</h4>
                            {% else %}
                                <h4 class="h5 m-1">{{book.price}} 원</h4>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div id="soldBooks_buy_Box" class="mb-5">
                    <h1 class="h4 fw-bold">[삽니다]판매 한 상품</h1>
                    {% for book in soldBooks_buy | reverse %}
                    <div class="likeList w-100 mt-3 mb-3 border d-flex flex-wrap" onclick="location.href='/wannabuy/buybook/{{book.id}}'">
                        <div class="ms-4">
                            <h1 class="h2 m-1 mb-3  fw-bold">{{book.postmessage}}</h1>
                                <h4 class="h5 m-1">구매 금액: {{book.price}} 원</h4>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div id="boughtBooks_buy_Box" class="mb-5">
                    <h1 class="h4 fw-bold">[삽니다]구매 한 상품</h1>
                    {% for book in boughtBooks_buy | reverse %}
                    <div class="likeList w-100 mt-3 mb-3 border d-flex flex-wrap" onclick="location.href='/wannabuy/buybook/{{book.id}}'">
                        <div class="ms-4">
                            <h1 class="h2 m-1 mb-3  fw-bold">{{book.postmessage}}</h1>
                                <h4 class="h5 m-1">구매 금액: {{book.price}} 원</h4>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </main>

        <!-- footer -->
        <nav class="navbar navbar-expand-md bg-dark border-1" id="footerNav"></nav>
    </div>

    <script src="/js/topNav.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/showTradeList.js"></script>
</body>
</html>
