/* css 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset;
}
@font-face {
	font-family: "NanumSquareR"; 
	src: url("/css/NanumSquareR.ttf");
}
@font-face {
	font-family: "bmdohyeon"; 
	src: url("/css/BMDOHYEON.ttf");
}
body {
	font-family: "NanumSquareR";
	line-height: 1;
	background-color: rgb(248, 248, 248);
	padding-top: 6rem;
	min-height: 100%;
}
a {
	word-break: break-all;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.nav-item a {
	font-size : 18px;
}
@media (max-width: 768px) {
	.notionInner {
		left: 80px;
	}
}
textarea {
	resize: none;
}
.contentInner {
	margin: 0 auto;
	min-height: 100%;
	padding-top: 30px;
	/* container-sm mt-0 mb-0 min-vh-100 pt-5 */
}
/* topNavbar stype */
.notionBtn {
	border-radius: 7px;
	text-decoration: none;
	font-weight: bold;
}
.delBtn{
	border-radius: 7px;
	border: 0;
	font-weight: bold;
	background-color: inherit;
}
.notionMsg {
	text-align: left;
	border: none;
	background-color: inherit;
	padding: 5px;
	border-radius: 7px;
}
.notionMsg:hover {
	background-color: rgb(207, 207, 207);
	cursor: pointer;
}
.notionBtn:hover, .delBtn:hover {
	background-color: rgba(73, 158, 255, 0.822);
	cursor: pointer;
}
.notionBox {
	position: relative;
}
.notionInner {
	width: 70%;
	border: 1px solid rgb(238, 238, 238);
	border-radius: 10px;
	background-color: rgb(248, 248, 248);
	position: absolute;
	top: 50px;
	display: none;
}
/* index style */
.slide2Inner {
	background-color: #005eb8;
	border-radius: 12px;
	display: flex;
	align-items: center;
}
.slide2 {
	/* background-color: #FFFEFC; */
	/* background-color: #fd8989; */
	min-height:100%;
	width: 75%;
	margin: 0 auto;
	/* line-height: 3rem; */
	padding: 1rem 3rem 1rem 3rem;
	/* border-radius: 15px; */
}
.slide2 li {
	font-size: 24px
}
.slideTitle {
	font-size: 72px;
	color: #ffffff;
	font-weight: bolder;
}
.slideSubTitle {
	font-size: 24px;
	color: #ffffff;
	margin-bottom: 4rem;
}
.slideGuide {
	border: solid 2px #ffffff;
	padding: 1rem 2.4rem;
	text-decoration: none;
	color: #ffffff;
}
.slideGuide:hover {
	cursor: pointer;
	/* background-color: #51b6df; */
	background-color: #387cbb;
	color: #ffffff
	/* color:black */
}
.searchForm {
	max-width: 500px;
}
.searchForm select {
	border-color: rgb(197, 197, 197);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	font-weight: bold;
}
.searchForm input {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.searchForm button {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	background-color: rgb(6, 143, 255);
	border:0px;
}
.menuBtn {
	margin: auto 5px;
}
.menuForm {
	max-width: 500px;
}
.menuForm button:hover {
	background-color: rgb(6, 143, 255);
	color:rgb(255, 255, 255)
}
.banner {
	max-width: 1000px;
	max-height: 500px;
}
.saleCard {
	border-radius: 15px;
	background: none;
	border: none;
}
.saleCard img {
	border-radius: 12px;
}
.buycard {
	height: 200px;
}
.postMsg {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
	white-space: normal;
	line-height: 1.2;
	height: 3.6em;
	text-align: left;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.saleCard:hover, .buycard:hover {
	background-color: rgb(243, 243, 243);
	cursor: pointer;
}
.postTitle {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.addBook {
	border-radius: 5px;
}

/* registerBook.html style */
.registerForm label {
	display: none;
}
.categoryBox label, .stateBox label {
	padding-top : 5px;
}
.inputForm {
	border: 0;
}
.usreLocation {
	position: relative;
}
#popupBox {
	background-color: rgb(53, 53, 53);
	/* border: 1px solid rgb(255, 255, 255); */
	border-radius: 15px;
	padding: 1.3rem;
	position: absolute;
	top: -80px;
	left: 10px;
	z-index: 1;
}
#popupBox a {
	color: rgb(255, 255, 255);
}
#popupBox:after, #popupBox:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
#popupBox:after {
	border-top-color: rgb(53, 53, 53);
	border-width: 5px;
	margin-left: -5px;
}
#popupBox:before {
	border-top-color: rgb(53, 53, 53);
	border-width: 18px;
	margin-left: -18px;
}
#nowimage {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.imageBox {
	overflow: hidden;
	width: 160px;
	height: 210px;
	margin: 10px;
	border-radius: 10px;
}
.image {
	width: 100%;
	height: 100%;
}
.imageLabel {
	position: relative;
	bottom: 22px;
	left: 5px;
	color: white;
	text-shadow: 2px 2px 2px black;
}
.cateBox {
	margin: auto 5px auto 10px;
}
/* myPage.html */
.profile img {
	max-width: 200px;
	max-height: 200px;
	min-width: 150px;
	min-height: 150px;
}
.myPageList, .selectPosting {
	background-color: rgb(243, 243, 243);
	border: 1px solid;
	border-color: rgb(230, 230, 230);
	border-radius: 1rem;
}
.myPageList a, .selectPosting a {
	margin: 1rem;
	text-decoration: none;
}
.myPageList a p {
	color: black;
	font-weight: bold;
	font-size: 18px;
}
.myPageList a img {
	width: 154px;
	height: 154px;
	padding: 10px;
}
.myPageList a:hover {
	padding: 5px;
	border-radius: 15px;
	background-color: rgb(155, 211, 243);
	cursor: pointer;
}

/* myPostingList.html */
.selectPosting a {
	padding: 10px;
	font-weight: bold;
}
.selectPosting a:hover {
	border-radius: 10px;
	background-color: rgb(155, 211, 243);
	cursor: pointer;
}
.postTitle {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* listProduct.html */
.likeList {
	border-radius: 12px;
	padding: 2rem;
}
.likeList:hover {
	cursor: pointer;
	background-color: rgb(233, 237, 240);
}
.likeList img {
	border-radius: 10px;
	box-shadow: 3px 3px 5px rgb(235, 235, 235);
}

/* bookRequest */
.postingTitle {
	width: 50%;
}
.postingBody {
	width: 100%;
}
.postingTitle, .postingBody {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.postingList:hover {
	background-color: rgb(241, 241, 241);
	cursor: pointer;
}
.regiRequest {
	max-width: 800px;
	margin: 0 auto;
}

/* detailes */
.commentList {
	width: 100%;
	padding: 10px;
}
.commentListInner {
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}
.reComment {
	border: 1px solid rgb(226, 226, 226);
	border-radius: 5px;
}
.reComment:focus{
	border-color: rgba(158, 220, 255);
    box-shadow: 0 1px 3px rgba(137, 179, 219) inset, 0 0 8px rgb(137, 179, 219);
    outline: 0 none;
}
.reCommentList {
	background-color: rgba(242, 242, 242);
	border: 1px solid rgb(226, 226, 226);
	border-radius: 8px;
	width: 100%;
	margin: 5px 0;
	padding: 10px;
	align-items: center;
}
.reCommentListInner {
	margin-bottom: 10px;
	justify-content: space-between;
	align-items: center;
}
.kebobMenu:hover {
	background-color: rgb(228, 228, 228);
	transition: 300ms;
}
.slideBox {
	width: 320px;
	height: 400px;
}
#getPostingContents, #getAppearanceInfo {
	line-height: 25px;
}

/* communityDetail.html */

/* tradeHistory.html */
.tradeBoxInner {
	border-bottom: 1px solid rgb(228, 228, 228);
}
.tadeBtn {
	font-weight: bold;
}
.tadeBtn:hover {
	background-color: rgb(70, 131, 245);
	color: rgb(243, 243, 243)
}
#boughtBooksBox {
	display: block;
}
#soldBooksBox {
	display: none;
}
#soldBooks_buy_Box {
	display: none;
}
#boughtBooks_buy_Box {
	display: none;
}
.btnInner {
	padding: 15px 0px 15px 0px;
	background-color: rgb(235, 235, 235);
	border-radius: 15px;
	margin-bottom: 25px;
}

/* paging */
.pagingWrap {
	display: flex;
	justify-content: center;
	margin: 1rem 0 1rem 0;
}
.movePage {
	width: 100%;
}
.movePage form {
	width: 200px;
	margin: 1rem auto;
}

/* mainPopup.html */
.guideInner {
	width: 800px;
	margin: 2rem auto 5rem auto;
}
.guideInner h3 {
	font-weight: bold;
}
.StepList {
	margin: 0 0 2rem 0;
	display: flexbox;
}
.StepList div {
	margin-bottom: 1rem;
}
.StepList::before {
	content: "";
	display: block;
	border-bottom: 1px solid rgb(187, 187, 187);
	margin-bottom: 2rem
}
.imgInner {
	width: 100%;
	text-align: center;
}
.mannerInner li {
	display: flex;
	align-items: center;
	margin: 1rem 0;
}
.mannerInner li h1 {
	font-weight: bold;
}
.mannerInner img {
	border: 1px solid black;
	border-radius: 100%;
	margin-right: 2rem;
}